{% load bootstrap3 %}

<form method="POST">
  {% csrf_token %}
  <div class="residual_risk--form">
    <div class="residual_risk--calculate_form_field">
      <div class="residual_risk--form_label">
        Incidence in donor population (% p.a.)
      </div>
      <div class="residual_risk--input">
        {% bootstrap_field form.incidence show_label=False %}
      </div>
    </div>

    <div class="residual_risk--calculate_form_field">
      <div class="residual_risk--form_label">
        Number of donations per year
      </div>
      <div class="residual_risk--input">
        {% bootstrap_field form.donations show_label=False %}
      </div>
    </div>

    <div class="residual_risk--calculate_form_field">
      <div class="residual_risk--form_label">
        Max residual risk window for plots
      </div>
      <div class="residual_risk--input">
        {% bootstrap_field form.upper_limit show_label=False %}
      </div>
    </div>
  </div>

  <input type="submit" name="res_risk" class="btn btn-primary residual_risk--submit" value="Calculate" />
</form>
