{% load bootstrap3 %}

<form method="POST">
  {% csrf_token %}
  <div class="residual_risk--form">
    <div class="residual_risk--form_field">
      <div class="residual_risk--form_label">
        Incidence in donor population (% p.a.)
      </div>
      <div class="residual_risk--input">
        {% bootstrap_field form.incidence show_label=False %}
      </div>
    </div>

    <div class="residual_risk--form_field">
      <div class="residual_risk--form_label">
        Number of donations per year
      </div>
      <div class="residual_risk--input">
        {% bootstrap_field form.donations show_label=False %}
      </div>
    </div>
  </div>

  <div id="window" class="residual_risk--window {% if not window %}hidden{% endif %}">
    <div class="residual_risk--window_text">
      <b>Window of residual risk: </b>
    </div>
    <div id="window_value" class="residual_risk--window_value">
      {% if window %}{{ window }} days{% endif %}
    </div>
  </div>

  <input type="submit" name="res_risk" class="btn btn-primary residual_risk--submit" value="Calculate" />
</form>
