{% extends "infection_dating_tool/login.html" %}
{% load i18n admin_static %}
{% load staticfiles %}
{% block content %}
  <p style="text-align: center">
    Welcome to the Cephia Infection Dating Tool
  </p>
  <p style="text-align: center">
    Please provide your password
  </p>

  <div id="content-main" class="login">
    {{app_path}}
    <form method="post" class="login_form" id="login-form">{% csrf_token %}
      
      <div class="row email" id="email">

        {% if not form.this_is_the_login_form.errors %}{{ form.email.errors }}{% endif %}
        {{form.email}}

      </div>

      <div class="row password" id="password">

        {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}
        {{form.password}}

      </div>
      <div class="row verify_password" id="verify_password">

        {% if not form.this_is_the_login_form.errors %}{{ form.verify_password.errors }}{% endif %}
        {{form.verify_password}}

      </div>
      
      {% url 'admin_password_reset' as password_reset_url %}
      {% if password_reset_url %}
        <div class="password-reset-link">
          <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
        </div>
      {% endif %}
      <br/>
      <div>
        <button class="button login_button" >
          Register
        </button>
      </div>
    </form>
  </div>
{% endblock %}
