{% load bootstrap3 %}

<div class="modal-dialog modal-lg" role="document">
  <form method="POST" action="{% url 'create_test' %}">{% csrf_token %}
    {{ user_estimates_formset.management_form }}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Add a new test</h3>
      </div>
      <div class="modal-body">
        <h4>Test</h4>
        {% bootstrap_form form %}

        <h4>Test property estimates</h4>
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Estimate label</th>
              <th>Diagnostic delay</th>
              <th>Detection threshold (c/ml)</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody>
            {% for formset_form in user_estimates_formset %}
              <tr>
                {{ formset_form.id }}
                <td>{% bootstrap_field formset_form.estimate_label show_label=False %}</td>
                <td>
                  {% bootstrap_field formset_form.diagnostic_delay show_label=False %}
                  <div id="{{ formset_form.detection_threshold.html_name }}_vl_dd" style="margin-top: -10px;"></div>
                </td>
                <td>
                  {% bootstrap_field formset_form.detection_threshold show_label=False %}
                </td>
                <td>{% bootstrap_field formset_form.comment show_label=False %}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary js-confirm-add-test" value="Add test" />
      </div>
    </div>
  </form>
</div>

<script>
 function update_form(category) {
     if (category === 'viral_load') {
         $("input[id$='diagnostic_delay']").attr('readonly', true);
         $("input[id$='diagnostic_delay']").hide();
         $("input[id$='detection_threshold']").attr('readonly', false);
         $("div[id$='_vl_dd']").show();
     } else if (category === '') {
         $("input[id$='diagnostic_delay']").attr('readonly', true);
         $("input[id$='diagnostic_delay']").show();
         $("input[id$='detection_threshold']").attr('readonly', true);
         $("div[id$='_vl_dd']").hide();
     } else {
         $("input[id$='diagnostic_delay']").attr('readonly', false);
         $("input[id$='diagnostic_delay']").show();
         $("input[id$='detection_threshold']").attr('readonly', true);
         $("div[id$='_vl_dd']").hide();
     }
 }

 function check_category() {
     var category = $('#id_category').val()
     update_form(category);
 }
 check_category();
 
 $('#modal-add-test').on('change', '#id_category', function(event) {
     var category = $(this).val()
     update_form(category);
 });
</script>
