{% load bootstrap3 %}

<div class="modal-dialog modal-lg" role="document">
  <form method="POST" action="{% url 'create_test_mapping' %}">
    {{ user_estimates_formset.management_form }}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Add a new mapping</h3>
      </div>
      <div class="modal-body">
        
        {% csrf_token %}
        {% bootstrap_form form %}

        {% if test %}
          <h4>Test property estimates for: {{ test.name }}</h4>
          <p style="color:#990033;">System default properties are shown in red</p>

          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th>Active</th>
                <th>Estimate label</th>
                <th>Diagnostic delay</th>
                <th>Detection Threshold (c/ml)</th>
                <th>Comment</th>
              </tr>
            </thead>
            
            <tbody>
              {% for property in properties %}
                <tr {% if property.global_default %}style="color:#990033;"{% endif %}>
                  <td><input {% ifequal property.pk form.test_property.value %}checked{% endifequal %} name="{{ form.test_property.html_name }}" type="radio" value="{{ property.pk }}"></td>
                  <td>{{ property.estimate_label }}</td>
                  {% if property.diagnostic_delay %}
                    <td>{{ property.diagnostic_delay }}</td>
                  {% else %}
                    <td></td>
                  {% endif %}
                  {% if property.detection_threshold %}
                    <td>{{ property.detection_threshold }}</td>
                  {% else %}
                    <td></td>
                  {% endif %}
                  <td>{{ property.comment }}</td>
                </tr>
              {% endfor %}

              {% for formset_form in user_estimates_formset %}
                {% with property=formset_form.instance %}
                  <tr>
                    {{ formset_form.id }}
                    <td><input {% ifequal property.pk form.test_property.value %}checked{% endifequal %} name="{{ form.test_property.html_name }}" type="radio" value="{{ property.pk|default:"" }}"></td>
                    <td>{% bootstrap_field formset_form.estimate_label show_label=False %}</td>
                    <td>
                      {% bootstrap_field formset_form.diagnostic_delay show_label=False %}
                      <div id="{{ formset_form.detection_threshold.html_name }}_vl_dd" style="margin-top: -10px;"></div>
                    </td>
                    <td>{% bootstrap_field formset_form.detection_threshold show_label=False %}</td>
                    <td>{% bootstrap_field formset_form.comment show_label=False %}</td>
                  </tr>
                {% endwith %}
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary js-confirm-add-mapping" value="Add mapping" />
      </div>
    </div>
  </form>
</div>

<script>
 $('#modal-add-mapping').on('change', '#id_test', function(event) {
     var test_id = $('#id_test').val();
     var url = '{% url 'get_test_category' %}';
     
     $.get(url, {test_id: test_id }).done(function(resp) {
         if (resp.category === 'viral_load') {
             $("input[id$='diagnostic_delay']").attr('readonly', true);
             $("input[id$='diagnostic_delay']").hide();
             $("input[id$='detection_threshold']").attr('readonly', false);
             $("div[id$='_vl_dd']").show();
         } else {
             $("input[id$='diagnostic_delay']").attr('readonly', false);
             $("input[id$='diagnostic_delay']").show();
             $("input[id$='detection_threshold']").attr('readonly', true);
             $("div[id$='_vl_dd']").hide();
         }
     });
 });

 $('#modal-add-mapping').on('change', "input[id$='detection_threshold']", function(event) {
     var name = $(this).attr('name');
     var value = $(this).val();
     var growth_rate = "{{ growth_rate }}";
     var log10_value = log10(value);
     function log10(val) {
         return Math.log(val) / Math.LN10;
     }
     var vl_dd = log10_value / growth_rate;
     var vl_dd_name = '#' + name + '_vl_dd';
     $(vl_dd_name).text("(" + vl_dd + ")");
 });
</script>
