{% load bootstrap3 %}

<div class="modal-dialog modal-lg" role="document" >
  <form method="post" action="{% url 'edit_test' test.pk %}">{% csrf_token %}
    {{ user_estimates_formset.management_form }}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Edit Test</h3>
      </div>
      <div class="modal-body">
        <h4>Test</h4>
        {% bootstrap_form form %}
        {% bootstrap_form user_default_property_form show_label=False %}

        <h4>Test property estimates</h4>
        {% if not test.user %}
          <p style="color:#990033;">System default estimates are shown in red</p>
        {% endif %}
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              {% if test.user %}
                <th>Default</th>
              {% endif %}
              <th>Estimate label</th>
              <th>Diagnostic delay</th>
              <th>Detection threshold (c/ml)</th>
              <th>Comment</th>
            </tr>
          </thead>
          <tbody>
            {% for property in properties %}
              <tr {% if property.global_default %}style="color:#990033;"{% endif %}>
                <td>{{ property.estimate_label }}</td>
                {% if property.diagnostic_delay %}
                  <td>{{ property.diagnostic_delay }}</td>
                {% else %}
                  <td>{% if global_vl_dd %}({{ global_vl_dd }}){% endif %}</td>
                {% endif %}
                {% if property.detection_threshold %}
                  <td>
                    {{ property.detection_threshold }}
                  </td>
                {% else %}
                  <td></td>
                {% endif %}
                <td>{{ property.comment }}</td>
              </tr>
            {% endfor %}

            {% for formset_form in user_estimates_formset %}
              {% with property=formset_form.instance %}
                <tr>
                  {{ formset_form.id }}
                  {% if test.user %}
                    <td><input {% ifequal property.pk default_property %}checked{% endifequal %} name="{{ user_default_property_form.default_property.html_name }}" type="radio" value="{{ property.pk|default:"" }}"></td>
                  {% endif %}
                  <td>{% bootstrap_field formset_form.estimate_label show_label=False %}</td>
                  <td>
                    {% bootstrap_field formset_form.diagnostic_delay show_label=False %}
                    <div id="{{ formset_form.detection_threshold.html_name }}_vl_dd" style="margin-top: -10px;"></div>
                  </td>
                  <td>
                    {% bootstrap_field formset_form.detection_threshold show_label=False %}
                  </td>
                  <td>{% bootstrap_field formset_form.comment show_label=False %}</td>
                </tr>
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary js-save-test" value="Save test" />
      </div>
    </div>
  </form>
</div>

<script>
 function update_form(category) {
     if (category === 'viral_load') {
         $("input[id$='diagnostic_delay']").attr('readonly', true);
         $("input[id$='diagnostic_delay']").hide();
         $("input[id$='detection_threshold']").attr('readonly', false);
         $("div[id$='_vl_dd']").show();
     } else if (category === '') {
         $("input[id$='diagnostic_delay']").attr('readonly', true);
         $("input[id$='diagnostic_delay']").show();
         $("input[id$='detection_threshold']").attr('readonly', true);
         $("div[id$='_vl_dd']").hide();
     } else {
         $("input[id$='diagnostic_delay']").attr('readonly', false);
         $("input[id$='diagnostic_delay']").show();
         $("input[id$='detection_threshold']").attr('readonly', true);
         $("div[id$='_vl_dd']").hide();
     }
 }

 function check_category() {
     var category = $('#id_category').val()
     update_form(category);
 }
 check_category();

 $('#modal-edit-test').on('change', '#id_category', function(event) {
     var test_id = '{{ test.pk }}';
     var category = $(this).val()
     var url = '{% url 'set_selected_category' %}';

     $.get(url, {test_id: test_id, category: category }).done(function(resp) {
         update_form(resp.category);
     });
 });

 function calculate_nums() {
     var inputs = document.querySelectorAll("input[id$='detection_threshold']");
     for (var i = 0, len = inputs.length; i < len; i++) {
         var name = inputs[i].name;
         var value = inputs[i].value;
         if (value) {
             var growth_rate = "{{ growth_rate }}";
             var log10_value = log10(value);
             function log10(val) {
                 return Math.log(val) / Math.LN10;
             }
             var vl_dd = log10_value / growth_rate;
             var vl_dd_name = '#' + name + '_vl_dd';
             $(vl_dd_name).text("(" + vl_dd.toFixed(2) + ")");
         }
     }
 }
 calculate_nums();

 $('#modal-edit-test').on('change', "input[id$='detection_threshold']", function(event) {
     var name = $(this).attr('name');
     var value = $(this).val();
     var growth_rate = "{{ growth_rate }}";
     var log10_value = log10(value);
     function log10(val) {
         return Math.log(val) / Math.LN10;
     }
     var vl_dd = log10_value / growth_rate;
     var vl_dd_name = '#' + name + '_vl_dd';
     $(vl_dd_name).text("(" + vl_dd.toFixed(2) + ")");
 });
 
</script>
