{% load bootstrap3 %}

{% if form_selection == 'specify' %}
  <form method="POST" action="{% url 'residual_risk' %}">
    {% csrf_token %}
    <div class="infectious_period--form_label">
      Start of infectious period relative to origin/zero of diagnostic scale (days)
    </div>
    <div class="infectious_period--input">
      {% bootstrap_field specify_form.infectious_period_input show_label=False %}
    </div>
    <input type="submit" name="specify" class="btn btn-primary infectious_period--submit" value="Apply" />
  </form>
{% elif form_selection == 'calculate' %}
  <form method="POST" action="{% url 'residual_risk_calculate' %}">
    {% csrf_token %}
    <div class="infectious_period--form">
      <div class="infectious_period--form_field">
        <div class="infectious_period--form_label">
          Viral growth rate (log<sub>10</sub>/day)
        </div>
        <div class="infectious_period--input">
          {% bootstrap_field calculate_form.viral_growth_rate show_label=False %}
        </div>
      </div>

      <div class="infectious_period--form_field">
        <div class="infectious_period--form_label">
          Viral load at origin/zero of diagnostic delay scale
        </div>
        <div class="infectious_period--input">
          {% bootstrap_field calculate_form.origin_viral_load show_label=False %}
        </div>
      </div>

      <div class="infectious_period--form_field">
        <div class="infectious_period--form_label">
          Viral load at start of infectious period
        </div>
        <div class="infectious_period--input">
          {% bootstrap_field calculate_form.viral_load show_label=False %}
        </div>
      </div>
    </div>

    <input type="submit" name="calculate" class="btn btn-primary infectious_period--submit" value="Apply" />
    {% if form_selection == 'calculate' %}
      <a href="{% url 'reset_defaults_infectious_period' %}" class="btn btn-danger infectious_period--reset">
        Reset to defaults
      </a>
    {% endif %}
  </form>
{% endif %}
