{% load staticfiles %}
{% load bootstrap3 %}

{% block header %}
  <div style="padding-bottom: 50px;padding-left: 10px;">
    <img src="{% static 'images/CEPHIA.jpg' %}" alt="CEPHIA logo" style="float:left;" height="150" title="CEPHIA">
    <h1 style="padding-top:40px;" class="site-title">
      <a href="{% url 'idt:data_files' %}">CEPHIA Infection Dating Tool</a></h1>
    <span class="site-tagline">Consortium for the Evaluation and Performance of HIV Incidence Assays</span>
  </div>
{% endblock %}
{% block nav %}
{% endblock %}
