{% extends 'infection_dating_tool/base.html' %}
{% load bootstrap3 %}

{% block content %}
  <div class="container_nav">

    {% if data_file %}
      <h3>Mapping for {{ data_file.file_name }}</h3>
      Please complete any maps without all three values
    {% else %}
      <button class="js-add-mapping btn btn-default" data-add-url="{% url 'idt:create_test_mapping' %}">Add a new mapping</button>
    {% endif %}

    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Code</th>
          <th>Test</th>
          <th>Property</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        
        {% for map in mapping %}
          <tr>
            <td>
              {{ map.code }}
            </td>
            <td>
              {% if map.test %}
                {{ map.test }}
              {% endif %}
            </td>
            <td>
              {{ map.test_property.estimate_label }}
            </td>
            <td align="right">
              <a data-toggle="modal" data-target="#modal-edit-mapping" class="btn btn-primary js-edit-mapping"
                 data-map-id={{ map.pk }}>Edit</a>
            </td>
          </tr>
        {% endfor %}
        
      </tbody>
    </table>

    {% if completed_mapping %}
      <h3>Mapping completed</h3>
      <a class="btn btn-primary" href="{% url 'idt:validate_mapping_from_page' data_file.pk %}">Validate Mapping</a>
      <a class="btn btn-primary" href="{% url 'idt:data_files' %}">Return to data files</a>
    {% endif %}
    {% if completed_mapping == False %}
      <a class="btn btn-primary" href="{% url 'idt:validate_mapping_from_page' data_file.pk %}">Validate Mapping</a>
    {% endif %}
    <div class="modal fade" id="modal-add-mapping"></div>
    <div class="modal fade" id="modal-edit-mapping"></div>

    <script>
     $('.js-edit-mapping').click(function(event) {
         event.preventDefault();
         var js_is_file = {{ js_is_file }};
         var map_id = $(this).data('map-id')
         var url = "{% url 'idt:edit_test_mapping' %}";

         $.get(url, {map_id: map_id, js_is_file: js_is_file }).done(function(html) {
             $('#modal-edit-mapping').html(html);
             $('#modal-edit-mapping').modal();
         });
     })

     $('#modal-edit-mapping').on('click', '.js-save-mapping', function(event) {
         event.preventDefault();

         var form = $(this).parents('form');
         var post_data = form.serialize()
         var modal = $(this).parents('.modal-dialog').parent()

         $.post(form.attr('action'), post_data).done(function(html) {
             if (html.success) {
                 location.reload();
                 /* location.href = html.redirect_url*/
             } else {
                 modal.html(html)
             }
         });
     });

     $('#modal-edit-mapping').on('change', '#id_test', function(event) {
         var test_id = $(this).val()
         var map_id = $(this).parents('form').data('map')
         var map_code = $("#id_code").val();
         var js_is_file = {{ js_is_file }};
         var url = "{% url 'idt:edit_test_mapping' %}";

         $.get(url, {test_id:test_id, map_id:map_id, map_code:map_code, js_is_file:js_is_file }).done(function(html) {
             $('#modal-edit-mapping').html(html);
             $('#modal-edit-mapping').modal();
         });
     });

     $('.js-add-mapping').click(function() {
         event.preventDefault();
         var url = "{% url 'idt:create_test_mapping' %}";
         $.get(url).done(function(html) {
             $('#modal-add-mapping').html(html);
             $('#modal-add-mapping').modal()
         });
     })

     $('#modal-add-mapping').on('click', '.js-confirm-add-mapping', function(event) {
         event.preventDefault();
         var form = $('#modal-add-mapping').find('form');
         post_data = form.serialize();
         var that = this;
         $.post(form.attr('action'), post_data).done(function(resp) {
             if (resp.redirect_url) {
                 location.href = resp.redirect_url
             } else {
                 $('#modal-add-mapping').html(resp)
             }
         })
     })

     $('#modal-add-mapping').on('change', '#id_test', function(event) {
         var test_id = $(this).val()
         var map_code = $("#id_code").val();
         var url = '{% url 'idt:create_test_mapping' %}';

         $.get(url, {map_code: map_code, test_id: test_id }).done(function(html) {
             $('#modal-add-mapping').html(html);
             $('#modal-add-mapping').modal();
         });
     });
    </script>

  </div>
{% endblock %}
