{% extends 'infection_dating_tool/base.html' %}
{% load bootstrap3 %}

{% block content %}
  <div class="container_nav">

    {% if data_file %}
      <h3>Mapping for {{ data_file.file_name }}</h3>
      Please complete any maps without all three values
    {% else %}
      <button class="js-add-mapping btn btn-default" data-add-url="{% url 'create_test_mapping' %}">Add a new mapping</button>
    {% endif %}

    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Code</th>
          <th>Test</th>
          <th>Property</th>
          <th></th>
        </tr>
      </thead>
      <tbody>

        {% for map in mapping %}
          <tr>
            <td>
              {{ map.code }}
            </td>
            <td>
              {% if map.test %}
                {{ map.test }}
              {% endif %}
            </td>
            <td>
              {{ map.test_property.estimate_label }}
            </td>
            <td align="right">
              <a data-toggle="modal" data-target="#modal-edit-mapping" class="btn btn-primary js-edit-mapping"
                 data-map-id={{ map.pk }}>Edit</a>
            </td>
          </tr>
        {% endfor %}

      </tbody>
    </table>

    {% if completed_mapping %}
      <h3>Mapping completed</h3>
      <a class="btn btn-primary" href="{% url 'validate_mapping_from_page' data_file.pk %}">Validate Mapping</a>
      <a class="btn btn-primary" href="{% url 'data_files' %}">Return to data files</a>
    {% endif %}
    {% if completed_mapping == False %}
      <a class="btn btn-primary" href="{% url 'validate_mapping_from_page' data_file.pk %}">Validate Mapping</a>
    {% endif %}

    <div class="modal fade" id="modal-mapping"></div>

    <script>
     $('.js-edit-mapping').click(function(event) {
         event.preventDefault();
         var js_is_file = {{ js_is_file }};
         var map_id = $(this).data('map-id')
         var url = "{% url 'edit_test_mapping' %}";

         $.get(url, {map_id: map_id, js_is_file: js_is_file }).done(function(html) {
             $('#modal-mapping').html(html);
             $('#modal-mapping').modal();
         });
     })

     $('.js-add-mapping').click(function() {
         event.preventDefault();
         var url = "{% url 'create_test_mapping' %}";
         $.get(url).done(function(html) {
             $('#modal-mapping').html(html);
             $('#modal-mapping').modal()
         });
     })

     $('#modal-mapping').on('change', '#id_test', function(event) {
         var test_id = $(this).val()
         var map_code = $("#id_code").val();
         var map_id = $(this).parents('form').data('map')

         if (map_id) {
             var js_is_file = {{ js_is_file }};
             var url = "{% url 'edit_test_mapping' %}";
             $.get(url, {test_id:test_id, map_id:map_id, map_code:map_code, js_is_file:js_is_file }).done(function(html) {
                 $('#modal-mapping').html(html);
                 $('#modal-mapping').modal();
             });
         } else {
             var url = '{% url 'create_test_mapping' %}';
             $.get(url, {map_code: map_code, test_id: test_id }).done(function(html) {
                 $('#modal-mapping').html(html);
                 $('#modal-mapping').modal();
             });
         }
     });

     $('#modal-mapping').on('click', '.js-save-mapping', function(event) {
         event.preventDefault();
         var form = $('#modal-mapping').find('form');
         var post_data = form.serialize();
         $.post(form.attr('action'), post_data).done(function(resp) {
             if (resp.success) {
                 location.reload();
             } else {
                 $('#modal-mapping').html(resp)
             }
         });
     });
    </script>

  </div>
{% endblock %}
