Django==1.8.2
Fabric==1.10.1
GitPython==1.0.1
argparse==1.2.1
django-bootstrap3==5.4.0
django-endless-pagination==2.0
django-simple-history==1.6.1
ecdsa==0.13
gitdb==0.6.4
paramiko==1.15.2
pycrypto==2.6.1
pytz==2015.4
smmap==0.9.0
wsgiref==0.1.2
psycopg2==2.6
