{% load bootstrap3 %}

{{ form.errors }}

{% buttons %}
  <button type="submit" class="btn btn-primary">
    {% bootstrap_icon "star" %} Save
  </button>

  <a href="{% url 'users:group_list' %}" class="btn btn-cancel">
    {% bootstrap_icon "star" %} Cancel
  </a>
{% endbuttons %}


{% bootstrap_form form %}

{% buttons %}
  <button type="submit" class="btn btn-primary">
    {% bootstrap_icon "star" %} Save
  </button>

  <a href="{% url 'users:group_list' %}" class="btn btn-cancel">
    {% bootstrap_icon "star" %} Cancel
  </a>
{% endbuttons %}
