{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load endless %}

{% block filter_col_a %}
{% bootstrap_field form.subject_label %}
{% bootstrap_field form.interval_size_less_than %}
{% endblock %}

{% block filter_col_b %}
{% bootstrap_field form.source_study %}
{% bootstrap_field form.interval_size_greater_than %}
{% endblock %}

{% block filter_col_c %}
{% bootstrap_field form.has_diag_test_history %}
{% bootstrap_field form.inverted_vdw %}
{% endblock %}

{% block filter_col_d %}
{% bootstrap_field form.subject_eddi_status %}
{% endblock %}

{% block page_content %}

{% paginate subjects %}

<div class="container">
  <div class="row">
    <div class="panel panel-default" style="box-shadow: 10px 10px 5px #888888;">
      <div class="panel-heading">
        <h3 class="panel-title">EDDI - Subjects</h3>
      </div>
      <div class="panel-body">
        {% show_pages %}
        <div class="btn-group">
          <a href="#" class="btn btn-default" style="text-decoration:none;" onclick="submitFilterFormCSV();">Export as CSV</a>
        </div>
        <div class="row">
          <div class="table-responsive">
            <table class="table-striped table table-hover" style="overflow:auto;">
              <thead>
                <th>Subject</th>
                <th>VDW Begin</th>
                <th>VDW End</th>
                <th>VDW Size</th>
                <th>EDDI</th>
                <th>Cohort Entry</th>
                <th>Entry Status</th>
                <th>Reported LN</th>
                <th>Reported FP</th>
                <th>Reported EDSC</th>
                <th>EDDI Status</th>
              </thead>
              <tbody>
                {% for subject in subjects %}
                <tr data-subject-id="{{subject.id}}" >
	              <td><a class="show-eddi-detail">{{subject.subject_label}}</a></td>
	              <td>{{subject.subject_eddi.ep_ddi}}</td>
	              <td>{{subject.subject_eddi.lp_ddi}}</td>
                  <td>{{subject.subject_eddi.interval_size}}</td>
	              <td>{{subject.subject_eddi.eddi}}</td>
                  <td>{{subject.cohort_entry_date}}</td>
                  <td>{{subject.cohort_entry_hiv_status}}</td>
                  <td>{{subject.last_negative_date}}</td>
                  <td>{{subject.first_positive_date}}</td>
                  <td>{{subject.edsc_reported}}</td>
                  <td class="eddi-status-column">{{subject.subject_eddi_status.status}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <a class="btn btn-primary" href="{% url 'diagnostics:recalculate_eddi' %}" style="text-decoration: none;">Recalculate EDDIs</a>
      </div>
    </div>
  </div>
</div>
<div class="eddi-modal-container">
</div>
{% endblock %}
