{% extends "outside_eddi/logo_header.html" %}
{% load nav_active %}

{% block nav %}
  {% if user.id %}
    <nav class="navbar navbar-default">
      <div id="nav-eddi" class="nav_top container_nav" style="height:38px;">
        {% nav_active request 'data_files' as nav_active_response %}
        
        <ul class="eddi-menu js-enabled">
          <li><a class="{% nav_active request 'data_files' %}" href="{% url 'outside_eddi:data_files' %}">Data Files</a></li>
          <li><a class="{% nav_active request 'test_mapping' %}" href="{% url 'outside_eddi:test_mapping' %}">Mapping</a></li>
          <li><a class="{% nav_active request 'tests' %}" href="{% url 'outside_eddi:tests' %}">Tests</a></li>
          <li><a class="{% nav_active request 'help_page' %}" href="{% url 'outside_eddi:help_page' %}">Help</a></li>
        </ul>
        
        <ul class="eddi-menu js-enabled navbar-right">
          <li><a href="{% url 'outside_eddi:logout' %}">Logout</a></li>
        </ul>
        
      </div>
    </nav>
  {% endif %}
{% endblock %}
