{% extends "outside_eddi/logo_header.html" %}

{% block nav %}
  {% if user.id %}
    <nav class="navbar navbar-default">
      <div id="nav" class="nav_top container">
        
        <ul class="sf-menu sf-menu-eddi sf-js-enabled">
          <li><a class="navtab" href="{% url 'outside_eddi:data_files' %}">Data Files</a></li>
          <li><a class="navtab" href="{% url 'outside_eddi:test_mapping' %}">Mapping</a></li>
          <li><a class="navtab" href="{% url 'outside_eddi:tests' %}">Tests</a></li>
          <li><a class="navtab" href="{% url 'outside_eddi:help_page' %}">Help</a></li>
        </ul>
        
        <ul class="sf-menu sf-js-enabled navbar-right">
          <li><a class="navtab" href="{% url 'outside_eddi:logout' %}">Logout</a></li>
        </ul>
        
      </div>
    </nav>
  {% endif %}
{% endblock %}
