{% load bootstrap3 %}

<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">Add a new mapping</h4>
    </div>
    <div class="modal-body">
      <p class="text-danger">
        Please note that any changes not saved to your existing tests will be discarded.
      </p>
      <form method="POST" action="{% url 'outside_eddi:create_test_mapping' %}">
        {% csrf_token %}
        {% bootstrap_form add_mapping_form %}
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      <input type="submit" class="btn btn-primary js-confirm-add-mapping" value="Add mapping" />
    </div>
  </div>
</div>
