{% load bootstrap3 %}

<div class="modal-dialog modal-lg" role="document" >
  <form method="post" action="{% if is_file %}{% url 'outside_eddi:edit_test_mapping_file' map.pk %}{% else %}{% url 'outside_eddi:edit_test_mapping_file' map.pk %}{% endif %}"
        data-map="{{ map.pk }}">{% csrf_token %}
    {{ user_estimates_formset.management_form }}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit mapping</h4>
        {% if is_file %}You are editing a map specific to a file so you are unable to edit the code{% endif %}
      </div>
      <div class="modal-body">
        {% bootstrap_form form %}
        {% if test %}
          <strong>Properties for: {{ test.name }}</strong>
          <p>Test Description: {{ test.description }}</p>
          {% if not test.user %}
            <p style="color:#990033;">System default properties are shown in a different colour</p>
          {% endif %}
        {% elif map.test %}
          <strong>Properties for: {{ map.test.name }}</strong>
          <p>Test Description: {{ map.test.description }}</p>
          {% if not map.test.user %}
            <p style="color:#990033;">System default properties are shown in a different colour</p>
          {% endif %}
        {% endif %}
        
        {% if test or map.test %}
          <table class="table table-condensed table-striped">
            <thead>
              <tr>
                <th>Active</th>
                <th>Name</th>
                <th>Diagnostic Delay</th>
                <th>Description</th>
                <th>Reference</th>
              </tr>
            </thead>
            
            <tbody>
              {% for property in properties %}
                <tr {% if property.is_default %}style="color:#990033;"{% endif %}>
                  <td><input {% ifequal property.pk form.test_property.value %}checked{% endifequal %} name="{{ form.test_property.html_name }}" type="radio" value="{{ property.pk }}"></td>
                  <td>{{ property.estimate_label }}</td>
                  <td>{{ property.mean_diagnostic_delay_days }}</td>
                  <td>{{ property.comment }}</td>
                  <td>{{ property.reference }}</td>
                </tr>
              {% endfor %}

              {% for formset_form in user_estimates_formset %}
                {% with property=formset_form.instance %}
                  <tr>
                    {{ formset_form.id }}
                    <td><input {% ifequal property.pk form.test_property.value %}checked{% endifequal %} name="{{ form.test_property.html_name }}" type="radio" value="{{ property.pk|default:"" }}"></td>
                    <td>{% bootstrap_field formset_form.estimate_label show_label=False %}</td>
                    <td>{% bootstrap_field formset_form.mean_diagnostic_delay_days show_label=False %}</td>
                    <td>{% bootstrap_field formset_form.comment show_label=False %}</td>
                    <td>{% bootstrap_field formset_form.reference show_label=False %}</td>
                  </tr>
                {% endwith %}
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary js-save-mapping" value="Save mapping" />
      </div>
    </div>
  </form>
</div>
