{% load bootstrap3 %}

<div class="modal-dialog modal-lg" role="document" >
  <form method="post" action="{% url 'outside_eddi:edit_test' test.pk %}">{% csrf_token %}
    {{ user_estimates_formset.management_form }}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Edit test</h4>
      </div>
      <div class="modal-body">
        {% bootstrap_form form %}
        {% bootstrap_form user_default_property_form %}

        Properties:
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              {% if test.user %}
                <th>Default</th>
              {% endif %}
              <th>Name</th>
              <th>Diagnostic Delay</th>
              <th>Description</th>
              <th>Reference</th>
            </tr>
          </thead>
          <tbody>
            {% for property in properties %}
              <tr {% if property.is_default %}style="font-weight: bold;;"{% endif %}>
                <td>{{ property.estimate_label }}</td>
                <td>{{ property.mean_diagnostic_delay_days }}</td>
                <td>{{ property.comment }}</td>
                <td>{{ property.reference }}</td>
              </tr>
            {% endfor %}

            {% for formset_form in user_estimates_formset %}
              {% with property=formset_form.instance %}
                <tr>
                  {{ formset_form.id }}
                  {% if test.user %}
                    <td><input {% ifequal property.pk default_property %}checked{% endifequal %} name="{{ user_default_property_form.default_property.html_name }}" type="radio" value="{{ property.pk|default:"" }}"></td>
                  {% endif %}
                  <td>{% bootstrap_field formset_form.estimate_label show_label=False %}</td>
                  <td>{% bootstrap_field formset_form.mean_diagnostic_delay_days show_label=False %}</td>
                  <td>{% bootstrap_field formset_form.comment show_label=False %}</td>
                  <td>{% bootstrap_field formset_form.reference show_label=False %}</td>
                </tr>
              {% endwith %}
            {% endfor %}
          </tbody>
        </table>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <input type="submit" class="btn btn-primary js-save-mapping" value="Save mapping" />
      </div>
    </div>
  </form>
</div>
