{% extends "outside_eddi/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
  <div class="container">
    <h1 id="top">Welcome to the Cephia Infection Dating Tool help page</h1>
    <h2>Index:</h2>
    <p><a href="#start">Getting Started</a></p>
    <p><a href="#files">Data Files</a></p>
    <p><a href="#mapping">Mapping</a></p>
    <p><a href="#tests">Tests</a></p>
    <p><a href="#results">Results</a></p>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <h2 id="start">Getting Started</h2>
    <h2 id="files">Data Files</h2>
    <h2 id="mapping">Mapping</h2>
    <h2 id="tests">Tests</h2>
    <h2 id="results">Results</h2>

    <a href="#top" style="float:right;">Top of page</a>
  </div>
{% endblock %}
