{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}

{% if user.id %}
  <a href="{% url 'outside_eddi:manage_studies' %}">New Study</a>
  <a href="#">Manage Assays</a>
  <a href="{% url 'outside_eddi:diagnostic_tests' %}">Diagnostic Tests</a>
  <a href="{% url 'outside_eddi:logout' %}">Logout</a>
  <table class="table">
    <thead>
      <tr>
        <th>User Studies</th>
      </tr>
    </thead>
    <tbody>
      {% for study in studies %}
        <tr><th>{{ study.name }}</th></tr>
      {% endfor %}
    </tbody>
  </table>
{% endif %}
{% endblock %}
