{% extends 'outside_eddi/base.html' %}
{% load bootstrap3 %}

{% block extra_js%}
  <script src="http://malsup.github.com/jquery.form.js"></script>
{% endblock %}

{% block content %}
  <div class="container">

    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Code</th>
          <th>Test</th>
          <th>Property</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <form name="tests" method="post" enctype="multipart/form-data">{% csrf_token %}
            <td>
              Test01{{ form.code }}
            </td>
            <td>
              {{ form.test }}
            </td>
            <td>
              {{ form.test_property }}
              <a class="btn btn-primary js-show-properties" data-toggle="modal" data-target="#modal" href="{% url 'outside_eddi:test_properties' test.id %}">Properties</a>
            </td>
          </form>
        </tr>
      </tbody>
    </table>

    <div class="modal fade" id="modal"></div>
    <script>
     $('.js-show-properties').click(function(event) {
         event.preventDefault();
         url = $(this).attr('href');

         $.get(url).done(function(html) {
             $('#modal').html(html);
             $('#modal').modal();
         });
     });
    </script>

    <form name="selectForm">
      <p>
        <label for="musicTypes">Choose some music types, then click the button below:</label>
        <select id="musicTypes" name="musicTypes" multiple="multiple">
          <option selected="selected">R&B</option>
          <option>Jazz</option>
          <option>Blues</option>
          <option>New Age</option>
          <option>Classical</option>
          <option>Opera</option>
        </select>
      </p>
      <p><input id="btn" type="button" value="How many are selected?" /></p>
    </form>

    <script>
     function howMany(selectObject) {

         name = selectObject.value
         return name;
     }

     var btn = document.getElementById("btn");
     btn.addEventListener("click", function(){
         alert('Number of options selected: ' + howMany(document.tests.test))
     });
    </script>

  </div>
{% endblock %}
