{% extends 'outside_eddi/base.html' %}
{% load bootstrap3 %}
{% load js_reverse %}
{% load test_id %}

{% block extrajs%}
  <script src="http://malsup.github.com/jquery.form.js"></script>
  <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
  <div class="container">

    <h3>Your tests</h3>
    <form name="user_tests"  method="post" id="form" enctype="multipart/form-data">{% csrf_token %}
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Tests</th>
            <th>Details</th>
            <th>Properties</th>
          </tr>
        </thead>
        <tbody>

          {{ user_formset.management_form }}
          {% for form in user_formset %}
            <tr>
              <td>
                {% bootstrap_field form.name show_label=False %} {{ form.id }}
              </td>
              <td>
                {% bootstrap_field form.description show_label=False %}
              </td>
              <td>
                <a class="btn btn-primary js-show-properties" data-test-id="{{ form.instance.pk }}" data-toggle="modal" data-target="#modal" href="#">Properties</a>
              </td>
            </tr>
          {% endfor %}

        </tbody>
      </table>
      <button class="btn btn-primary pull-right">Save</button>
    </form>

    <h3>Global tests</h3>
    <form name="global_tests"  method="post" id="form" enctype="multipart/form-data">{% csrf_token %}
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Tests</th>
            <th>Details</th>
            <th>Properties</th>
          </tr>
        </thead>
        <tbody>

          {{ global_formset.management_form }}
          {% for form in global_formset %}
            <tr>
              <td>
                {% bootstrap_field form.name show_label=False %} {{ form.id }}
              </td>
              <td>
                {% bootstrap_field form.description show_label=False %}
              </td>
              <td>
                <a class="btn btn-primary js-show-properties" data-test-id="{{ form.instance.pk }}" data-toggle="modal" data-target="#modal" href="#">Properties</a>
              </td>
            </tr>
          {% endfor %}

        </tbody>
      </table>
    </form>

    <div class="modal fade" id="modal"></div>
    <script>
     $('.js-show-properties').click(function(event) {
         event.preventDefault();
         var url;
         var test_id = $(this).data('test-id');
         
         if (!test_id){
             alert('Please insert a test name')
             $(this).attr('data-toggle', '')
         }
         else {
             url = Urls["outside_eddi:test_properties"](test_id)
             alert(url)

             $.get(url).done(function(html) {
                 $('#modal').html(html);
                 $('#modal').modal();
             });
         }
     });

     $('#modal').on("click", '.js-submit-properties', function(event) {
         event.preventDefault();

         var form = $(this).parents('form');
         post_data = form.serialize();
         $.post(form.attr('action'), post_data).done(function(resp) {
             if (resp.success) {
                 $('#modal').modal('hide');
                 location.reload();
             } else {
                 $('#modal').html(resp);
             }
         });
     });

     $('#modal').on("click", '.js-close-properties', function(event) {
         event.preventDefault();
         $('#modal').modal('hide');
         location.reload();
     });
    </script>
    
  </div>
{% endblock %}
