{% load i18n widget_tweaks %}

<div class="modal-dialog modal-lg" role="document">
  <form name="properties" action="{% url 'outside_eddi:test_properties' code test.id %}" method="post" id="form" enctype="multipart/form-data">{% csrf_token %}
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Properties for test: {{ test.name }}{% if code != 'None' %} code: {{ code }}{% endif %}</h4>
      </div>
      <div class="modal-body">
        <table class="table table-condensed table-striped">
          <thead>
            <tr>
              <th>Active</th>
              <th>Name</th>
              <th>Mean</th>
              <th>Variability</th>
              <th>Median</th>
              <th>Description</th>
              <th>Reference</th>
            </tr>
          </thead>
          <tbody>
            
            {{ formset.management_form }}
            {% for form in formset %}
              <tr>
                <div class="col-md-6">
                  {% for field in form.visible_fields %}
                    <td>
                      <fieldset class="form-group" {% if field == form.estimate_label or field == form.comment or field == form.reference %}title="{{ field.value }}"{% endif %}>
                        {{ field|attr:"class:form-control" }}
                      </fieldset>
                    </td>
                  {% endfor %}
                  {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                  {% endfor %} 
                </div>
              </tr>
            {% endfor %}
            
          </tbody>
        </table>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <input type="submit" name="save" class="btn btn-primary" value="Save"/>
        </div>
      </div>
      
      <script>
       $('input[type=checkbox]').change(function() {
           $('input[type=checkbox]').prop('checked', false);
           $(this).prop('checked', true);
       });
      </script>

    </div>
  </form>
</div>
