{% extends 'outside_eddi/base.html' %}
{% load bootstrap3 %}
{% load js_reverse %}

{% block extrajs%}
  <script src="http://malsup.github.com/jquery.form.js"></script>
  <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
  <div class="container">

    <form name="tests"  method="post" id="form" enctype="multipart/form-data">{% csrf_token %}
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Code</th>
            <th>Test</th>
            <th>Property</th>
          </tr>
        </thead>
        <tbody>
          
          {{ formset.management_form }}
          {% for form in formset %}
            <tr>
              <td>
                {{ form.id }}
                {{ form.code }}
              </td>
              <td>
                {{ form.test }}
              </td>
              <td>
                <a class="btn btn-primary js-show-properties" name="{{ form.test.html_name }}" id="{{ form.code.html_name }}" data-toggle="modal" data-target="#modal" href="{% url 'outside_eddi:test_properties' 'blank' 1 %}">Properties</a>
                {{ form.test_property.value }}
              </td>
            </tr>
          {% endfor %}
          
        </tbody>
      </table>
      <button class="btn btn-primary pull-right">Save</button>
    </form>

    <div class="modal fade" id="modal"></div>
    <script>
     $('.js-show-properties').click(function(event) {
         event.preventDefault();
         url = $(this).attr('href');
         test_id = $(this).attr('name');
         code_id = $(this).attr('id');
         var choice = $("#id_" + test_id).find('option:selected').attr("value");
         var code = $("#id_" + code_id).attr("value")

         if (!code){
             alert('Please insert a code')
             $(this).attr('data-toggle', '')
         }
         else if (!choice){
             alert('Please select a test')
             $(this).attr('data-toggle', '')
         }
         else {
             url = Urls["outside_eddi:test_properties"](code, choice)

             $.get(url).done(function(html) {
                 $('#modal').html(html);
                 $('#modal').modal();
             });
         }
     });
    </script>

  </div>
{% endblock %}
