{% extends 'outside_eddi/base.html' %}
{% load bootstrap3 %}
{% load js_reverse %}
{% load test_id %}

{% block extrajs%}
  <script src="http://malsup.github.com/jquery.form.js"></script>
  <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
  <div class="container">

    <form name="tests"  method="post" id="form" enctype="multipart/form-data">{% csrf_token %}
      <table class="table table-condensed table-striped">
        <thead>
          <tr>
            <th>Tests</th>
            <th>Details</th>
            <th>Properties</th>
          </tr>
        </thead>
        <tbody>

          {{ formset.management_form }}
          {% for form in formset %}
            <tr>
              <td>
                {{ form.id }}
                {{ form.name }}
              </td>
              <td>
                {{ form.description }}
              </td>
              <td>
                <a class="btn btn-primary js-show-properties" name="{{ form.name.html_name }}" id="{{ form.description.html_name }}" data-toggle="modal" data-target="#modal" href="{% url 'outside_eddi:test_properties' 'blank' 1 %}">Properties</a>
                {{ form.test_property.value }}
              </td>
            </tr>
          {% endfor %}

        </tbody>
      </table>
      <button class="btn btn-primary pull-right">Save</button>
    </form>

    <div class="modal fade" id="modal"></div>
    <script>
     $('.js-show-properties').click(function(event) {
         event.preventDefault();
         url = $(this).attr('href');

         test_field = $(this).attr('name');
         var test_name = $("#id_" + test_field).attr("value");
         var tests_by_name = {{ test_ids_by_name|safe }}
         var test = tests_by_name[test_name]
         var code = 'None'
         var choice = test
         
         url = Urls["outside_eddi:test_properties"](code, choice)

         $.get(url).done(function(html) {
             $('#modal').html(html);
             $('#modal').modal();
         });
     });
    </script>
    
  </div>
{% endblock %}
