{% extends 'outside_eddi/base.html' %}
{% load bootstrap3 %}
{% load js_reverse %}

{% block extrajs%}
  <script src="http://malsup.github.com/jquery.form.js"></script>
  <script src="{% url 'js_reverse' %}" type="text/javascript"></script>
{% endblock %}

{% block content %}
  <div class="container">

    <table class="table table-condensed table-striped">
      <thead>
        <tr>
          <th>Code</th>
          <th>Test</th>
          <th>Property</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        
        {% for map in mapping %}
          <tr>
            <td>
              {{ map.code }}
            </td>
            <td>
              {{ map.test }}
            </td>
            <td>
              {{ map.test_property.estimate_label }}
            </td>
            <td>
              <a data-toggle="modal" data-target="#modal-edit-mapping" class="btn btn-primary js-edit-mapping"
                 data-edit-url="{% url 'outside_eddi:edit_test_mapping' map.pk %}">Edit</a>
            </td>
          </tr>
        {% endfor %}
        
      </tbody>
    </table>

    <div class="modal fade" id="modal-edit-mapping"></div>

    <script>
     $('.js-edit-mapping').click(function(event) {
         event.preventDefault();
         var url = $(this).data('edit-url')
         $.get(url).done(function(html) {
             $('#modal-edit-mapping').html(html);
             $('#modal-edit-mapping').modal();
         });
     })

     $('#modal-edit-mapping').on('click', '.js-save-mapping', function(event) {
         event.preventDefault();

         var form = $(this).parents('form');
         var post_data = form.serialize()
         var modal = $(this).parents('.modal-dialog').parent()

         $.post(form.attr('action'), post_data).done(function(html) {
             if (html.success) {
                 location.href = html.redirect_url
             } else {
                 modal.html(html)
             }
         });
     });

     $('#modal-edit-mapping').on('change', '#id_test', function(event) {
         var test_id = $(this).val()
         var map_id = $(this).parents('form').data('map')
         url = Urls["outside_eddi:edit_test_mapping_properties"](map_id, test_id)
         $.get(url).done(function(html) {
             $('#modal-edit-mapping').html(html);
             $('#modal-edit-mapping').modal();
         });
     });
    </script>

  </div>
{% endblock %}
