{% extends "admin/cephia_login.html" %}
{% load i18n admin_static %}
{% load staticfiles %}
{% block content %}
  <p style="text-align: center">
    Welcome to the Cephia database. The system is currently only accessible to authorised collaborators. For publicly available information, please visit the
    <a href="http://incidence-estimation.org/page/cephia">Cephia project website</a>.
  </p>

  <div id="content-main" class="login">
    {{app_path}}
    <form action="{% url 'users:outside_eddi_user_registration' %}" method="post" class="login_form" id="login-form">{% csrf_token %}
      
      <div class="row username" id="username">

        {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
        {{form.username}}

      </div>
      <div class="row email" id="email">

        {% if not form.this_is_the_login_form.errors %}{{ form.email.errors }}{% endif %}
        {{form.email}}

      </div>
      <div class="row password1" id="password1">

        {% if not form.this_is_the_login_form.errors %}{{ form.password1.errors }}{% endif %}
        {{form.password1}}

      </div>
      <div class="row password2" id="password2">

        {% if not form.this_is_the_login_form.errors %}{{ form.password2.errors }}{% endif %}
        {{form.password2}}

      </div>
      
      {% url 'admin_password_reset' as password_reset_url %}
      {% if password_reset_url %}
        <div class="password-reset-link">
          <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
        </div>
      {% endif %}
      <br/>
      <div>
        <button class="button login_button" onclick="$('.login_form').submit(); return false;">
          Register
        </button>
      </div>
    </form>
  </div>
{% endblock %}
