{% extends "outside_eddi/login.html" %}
{% load i18n admin_static %}
{% load staticfiles %}
{% block content %}
  <div id="content-main" class="login">
    <h4 style="text-align: center">
      Thank you for registering. Please follow the link provided in the email we have send you to complete your registration
    </h4>
    <p style="text-align: center">
      <a href="#">haven't received an email?</a>
    </p>

    <br/>
    <div>
      <button class="button login_button">
        <a href="{% url 'outside_eddi:login' %}" style="color: black; text-decoration: none;">
          Return to login screen
        </a>
      </button>
    </div>
  </div>
{% endblock %}
