{% extends 'infection_dating_tool/base.html' %}
{% load bootstrap3 %}

{% block content %}
  <div class="container">

    {% if study %}
      <h1>Edit study: {{ study.name }}</h1>
    {% else %}
      <h1>Create a new study</h1>
    {% endif %}
    <div class="row">
      <div class="col-md-6">
        <form method="post" enctype="multipart/form-data">{% csrf_token %}
          {% bootstrap_form form %}
          <button class="btn btn-primary">Save</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
