{% extends "infection_dating_tool/login.html" %}
{% load i18n admin_static %}
{% load staticfiles %}
{% block content %}
  <div id="content-main" class="login">
    {{app_path}}
    <form action="{% url 'registration' %}" method="post" class="login_form" id="login-form">{% csrf_token %}
      
      <div class="row username" id="username">

        {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
        {{form.username}}

      </div>
      <div class="row email" id="email">

        {% if not form.this_is_the_login_form.errors %}{{ form.email.errors }}{% endif %}
        {{form.email}}

      </div>
      
      {% url 'admin_password_reset' as password_reset_url %}
      {% if password_reset_url %}
        <div class="password-reset-link">
          <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
        </div>
      {% endif %}
      <br/>
      
      <div>
        <button class="button login_button" onclick="$('.login_form').submit(); return false;">
          Register
        </button>
      </div>
      <br/>
    </form>
    <div>
      <a href="{% url 'login' %}">
        <button class="button login_button">
          Return to Login
        </button>
      </a>
    </div>
  </div>
{% endblock %}
