
<tr>
  <td bgcolor="#333">
    <table width="100" border="0" align="center" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>
          <td>
            <a target="_blank" href="{{ contact_url }}">
              <img src="{{ STATIC_URL }}emails/ft-contact.png" width="240" height="45" alt=""/>
            </a>
          </td>
          <td>
            <a target="_blank" href="{{ account_invite_url }}">
              <img src="{{ STATIC_URL }}emails/ft-refer.png" width="209" height="45" alt=""/>
            </a>
          </td>
          <td>
            <a target="_blank" href="{{ faq_url }}">
              <img src="{{ STATIC_URL }}emails/ft-customercare.png" width="251" height="45" alt=""/>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>

<tr>
  <td bgcolor="#333333"><table width="100" border="0" align="center" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td>
          <a target="_blank" href="{{ facebook }}">
            <img src="{{ STATIC_URL }}emails/ft-facebook.png" width="80" height="55" alt=""/>
          </a>
        </td>
        <td>
          <a target="_blank" href="{{ twitter }}">
            <img src="{{ STATIC_URL }}emails/ft-twitter.png" width="111" height="55" alt=""/>
          </a>
        </td>
        <td>
          <a target="_blank" href="{{ instagram }}">
            <img src="{{ STATIC_URL }}emails/ft-instagram.png" width="98" height="55" alt=""/>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
