
<tr>
  <td>
    {% comment %} <a target="_blank" href="{{ account_invite_url }}"><img src="{{ STATIC_URL }}emails/header.png" width="699" height="50" alt=""/></a>
    </td>{% endcomment %}
</tr>

<tr>
  <td bgcolor="#fff">
    <table width="700" border="0" cellspacing="0" cellpadding="0" style="border-bottom:1px solid #eaeaea;">
      <tbody>
        <tr>
          <td>
            <a target="_blank" href="{{ site_base_url }}"><img src="{{ STATIC_URL }}emails/hd-logo.png" width="207" height="59" alt=""/></a>
          </td>
          <td>
            <a target="_blank" href="{{ site_base_url }}"><img src="{{ STATIC_URL }}emails/hd-shop.png" width="131" height="59" alt=""/></a>
          </td>
          <td>
            <a target="_blank" href="{{ account_invite_url }}"><img src="{{ STATIC_URL }}emails/hd-invite.png" width="197" height="59" alt=""/></a>
          </td>
          <td>
            <a target="_blank" href="{{ site_base_url }}journal/"><img src="{{ STATIC_URL }}emails/hd-blog.png" width="164" height="59" alt=""/></a>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
