<tr>
  <td>
    {% comment %} <a target="_blank" href="{{ account_invite_url }}"><img src="{{ STATIC_URL }}emails/header.png" width="699" height="50" alt=""/></a>
    </td>{% endcomment %}
</tr>

<tr>
  <td bgcolor="#fff">
    <table width="700" border="0" cellspacing="0" cellpadding="0" style="border-bottom:1px solid #eaeaea;">
      <tbody>
        <tr>
          <td>
            <div style='margin: 0 auto;width: 40%;'>
              <img href="http://incidence-estimation.org/page/cephia" src="{{ STATIC_URL }}images/CEPHIA.jpg" alt="CEPHIA logo" style="float:left;" align="middle" height="150" title="CEPHIA">
              <h1 style="padding-top:60px;" class="site-title">
                <a href="http://incidence-estimation.org/page/cephia">CEPHIA</a>
              </h1>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
