
<tr>
  <td>
    <table width="100" border="0" align="center" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>

          <td>
            <a href="http://www.sacema.org/" target="_blank">
              <img src="{{ STATIC_URL }}images/logo.png" alt="SACEMA logo"
                   title="South African Centre for Epidemiological Modelling and Analysis" height="100">
            </a>
          </td>
          <td>
            <a href="https://www.gov.uk/government/organisations/public-health-england" target="_blank">
              <img src="{{ STATIC_URL }}images/PublicHealthEngland.png" alt="PHE logo" height="100"
                   title="Public Health England">
            </a>
          </td>
          <td>
            <a href="http://www.bsrisf.org/" target="_blank">
              <img src="{{ STATIC_URL }}images/BloodSystemsResearchInstitute.jpg" alt="BSRI logo" height="100"
                   title="Blood Systems Research Institute">
            </a>
          </td>
          
        </tr>
      </tbody>
    </table>
  </td>
</tr>

<tr>
  <td>
    <table width="100" border="0" align="center" cellpadding="0" cellspacing="0">
      <tbody>
        <tr>

          <td>
            <a href="http://www.ucsf.edu/" target="_blank">
              <img src="{{ STATIC_URL }}images/UniversityOfCaliforniaSanFrancisco.jpg" alt="UCSF logo" height="100"
                   title="University of California San Francisco">
            </a>
          </td>

          <td>
            <a href="http://www.finddx.org/" target="_blank">
              <img src="{{ STATIC_URL }}images/finddx.png" alt="Find logo" style="max-width: 150px; margin-left: 20px;"
                   title="Find">
            </a>
          </td>

          <td>
            <a href="http://www.gatesfoundation.org/" target="_blank">
              <img src="{{ STATIC_URL }}images/BillAndMelindaGatesFoundation.jpg" alt="BMGF logo" height="100"
                   title="Bill and Melinda Gates Foundation">
            </a>
          </td>

        </tr>
      </tbody>
    </table>
  </td>
</tr>
