{% extends "cephia/report_base.html" %}
{% load bootstrap3 %}
{% load reporting_tags %}
{% load endless %}

{% block page_content %}
<h1>Generic Report</h1>
<div class="container">
  <div class="row">
    <form id="form" action="{% url 'reporting:generic_report' %}" enctype="multipart/form-data" role="form" method="POST">
      {% csrf_token %}
      {% bootstrap_field query_form.query %}
      <div class="btn-group">
        <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-default">Save</button>
      </div>
      <div class="btn-group">
        <button type="submit" class="btn btn-success">Run</button>
      </div>
    </form>
  </div>
  {% if report %}
  <div class="row">
    <table class="table-striped table table-hover" style="overflow:auto;">
      <thead>
        {% for header in report.headers %}
        <th>{{header}}</th>
        {% endfor %}
      </thead>
      <tbody>
        {% for row in report.rows %}
        <tr>
          {% for header in report.headers %}
          <td>
            {{ row|get_item:header|default:"" }}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% include 'reporting/save_query_modal.html' with query_form=query_form %}
{% endblock %}
