{% extends "cephia/report_base.html" %}
{% load bootstrap3 %}
{% load el_pagination_tags %}

{% block submit_action %}
{% endblock %}

{% block page_content %}
<ul>
  <li>
    <a href="{% url 'reporting:visit_material' %}">Visit Material, filtered by Visit Date</a>
  </li>
  <li>
    <a href="{% url 'reporting:all_subject_material' %}">All Subject’s Material, filtered by Visit Date</a>
  </li>
  <li>
    <a href="{% url 'reporting:generic_report' %}">Generic Report</a>
  </li>
  <li>
    <a href="{% url 'reporting:fixed_query_template' %}">Fixed query template</a>
  </li>
  <li>
    <a href="{% url 'diagnostics:eddi_report' %}">EDDI Report</a>
  </li>
  {% for report in reports %}
  <li>
    <a href="{% url 'reporting:saved_report' report_id=report.id %}">{{report.name}}</a>
  </li>
  {% endfor %}
</ul>

{% endblock %}
