{% extends "cephia/report_base.html" %}
{% load bootstrap3 %}
{% load reporting_tags %}
{% load el_pagination_tags %}

{% block page_content %}
<div class="container">
  {% if report %}
  <div class="row">
    <table class="table-striped table table-hover" style="overflow:auto;">
      <thead>
        {% for header in report.headers %}
        <th>{{header}}</th>
        {% endfor %}
      </thead>
      <tbody>
        {% for row in report.rows %}
        <tr>
          {% for header in report.headers %}
          <td>
            {{ row|get_item:header|default:"" }}
          </td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
</div>
{% endblock %}
