{% extends "cephia/base.html" %}

{% load reporting_tags %}
{% load bootstrap3 %}
{% load endless %}

{% block site-title %} Visit Report {% endblock %}

{% block page_content %}

<i>Showing first {{num_rows}} rows only </i>

<a class="btn btn-primary" target="_blank" href="{% url 'reporting:visit_report' %}?csv=1">Download</a>

<a href="#" class="btn btn-primary show-specimen">
  Show specimen
</a>

<form id="specimen-form" action="{% url 'reporting:visit_specimen_report' %}" role="form" method="POST">
  {% csrf_token %}
  <table class="table-striped table table-hover" style="overflow:auto;">
    <thead>
      {% for header in report.headers %}
      <th>{{header}}</th>
      {% endfor %}
    </thead>
    <tbody>
      {% for row in report.rows %}
      <tr>
        {% for header in report.headers %}
        <td class="{{header}}">
          {% if header == 'VisitId' or header == 'SubjectId' %}
          <input name="{{header}}" type="checkbox" class="{{header}}-checkbox" value="{{ row|get_item:header|default:'' }}">
          {% endif %}
          {{ row|get_item:header|default:"" }}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</form>

{% endblock %}
