{% extends "cephia/report_base.html" %}

{% load reporting_tags %}
{% load bootstrap3 %}
{% load endless %}

{% block page_content %}

<div class="container">
  <div class="row">
    <h3>
      Listing of material received per visit, filtered by visit being after the specified date.
      Results ordered by seroconversion interval (smallest at top, with unknown seroconversion intervals at bottom)
    </h3>
  </div>

  <div class="row">
    <form id="form" action="{% block submit_action %}{% endblock %}" role="form" method="GET">
      <div class="row col-md-12">
        <i>Show visit occuring on or after: </i>{{ filter_form.visit_date }}
        {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" %}
        <i>Showing first {{num_rows}} rows only </i>
        <a class="btn btn-primary" target="_blank" href="{% url 'reporting:visit_material' %}?csv=1">Download</a>
        <a href="#" class="btn btn-primary show-specimen">
          Show specimen
        </a>
      </div>
    </form>
  </div>
  
  <div class="row">
    <form id="specimen-form" role="form" method="POST">
      <div class="table-responsive" style="overflow:auto;">
        <table class="table-striped table table-hover" style="overflow:auto;">
          <thead>
            {% for header in report.headers %}
            <th>{{header}}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for row in report.rows %}
            <tr>
              {% for header in report.headers %}
              <td class="{{header}}">
                {% if header == 'VisitId' or header == 'SubjectId' %}
                <input name="{{header}}" type="checkbox" class="{{header}}-checkbox" value="{{ row|get_item:header|default:'' }}">
                {% endif %}
                {{ row|get_item:header|default:"" }}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </form>
  </div>
  <div class="specimens-modal">
  </div>
</div>

{% endblock %}
