{% load bootstrap3 %}

{% for specimen in specimens %}
<tr>
  <td>{{specimen.visit.id}}</td>
  <td>{{specimen.subject.id}}</td>
  <td>{{specimen.id}}</td>
  <td>{{specimen.specimen_label}}</td>
  <td>{{specimen.parent_label}}</td>
  <td>{{specimen.specimen_type.name}}</td>
  <td>{{specimen.visit.visit_date}}</td>
  <td>{{specimen.create_date}}</td>
  <td>{{specimen.volume_units}}</td>
  <td>{{specimen.initial_claimed_volume}}</td>
  <td>{{specimen.volume}}</td>
  <td>{% if specimen.is_available %}{% bootstrap_icon "ok" %}{% else %}{% bootstrap_icon "remove" %}{% endif %}</td>
</tr>
{% endfor %}
