{% extends "cephia/report_base.html" %}

{% load reporting_tags %}
{% load bootstrap3 %}
{% load el_pagination_tags %}

{% block page_content %}

<div class="container">
  <div class="row">
    <h3>
      Listing of material received per visit, filtered by visit being between two specified dates.
      Results ordered by seroconversion interval (smallest at top, with unknown seroconversion intervals at bottom)
    </h3>
  </div>

  <div class="row">
    <form id="form" role="form" method="POST">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-12">
          <i>Show visits occuring from: </i>{{ filter_form.from_date }}<i> to: </i>{{ filter_form.to_date }}
          {% bootstrap_button "Submit" button_type="submit" button_class="btn-default" %}
          <div class="btn-group pull-right">
            <a href="#" class="btn btn-primary show-specimen" style="text-decoration: none;">Show specimen details for selection</a>
          </div>
          <div class="btn-group pull-right">
            <a href="{% url 'reporting:visit_specimen_detail_download' %}" class="btn btn-primary download-specimen-detail" style="text-decoration: none;">Download all specimen details</a>
          </div>
          <div class="btn-group pull-right">
            <button class="btn btn-primary" name="download" style="text-decoration: none;">Download All</button>
          </div>
          <div class="btn-group pull-right">
            <button class="btn btn-primary" name="show" style="text-decoration: none;">Show All</button>
          </div>
        </div>
      </div>
    </form>
  </div>
  
  <div class="row">
    <form id="specimen-form" action="{% url 'reporting:visit_specimen_report' %}" role="form" method="POST">
      <div class="table responsive" style="overflow:auto; max-height:400px;">
        <table class="table-striped table table-hover">
          <p>(First {{num_rows}} root specimens previewed below)</p>
          <thead>
            {% for header in report.headers %}
            <th>{{header}}</th>
            {% endfor %}
          </thead>
          <tbody>
            {% for row in report.rows %}
            <tr>
              {% for header in report.headers %}
              <td class="{{header}}">
                {% if header == 'VisitId' or header == 'SubjectId' %}
                <input name="{{header}}" type="checkbox" class="{{header}}-checkbox" value="{{ row|get_item:header|default:'' }}">
                {% endif %}
                {{ row|get_item:header|default:"" }}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="container">
        <div class="modal fade" id="specimenModal">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Specimens for selected visits/subjects</h4>
              </div>
              <div class="modal-body specimens-modal-body">
                <div class="table-responsive" style="overflow:auto; max-height:500px;"">
                  <table class="table-striped table table-hover">
                    <thead>
                      <th>Visit ID</th>
                      <th>Subject ID</th>
                      <th>Specimen ID</th>
                      <th>Specimen Label</th>
                      <th>Parent Label</th>
                      <th>Specimen Type</th>
                      <th>Visit Date</th>
                      <th>Create Date</th>
                      <th>Volume Units</th>
                      <th>Initial Volume</th>
                      <th>Reported Volume</th>
                      <th>Is Available</th>
                    </thead>
                    <tbody class="specimens-modal">
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button name="detail-download" class="btn btn-primary">Export to CSV</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
