{% extends "cephia/tms_base.html" %}

{% load bootstrap3 %}
{% load endless %}

{% block site-title %} Visit Report {% endblock %}

{% block page_content %}

<i>Showing first {{num_rows}} rows only </i>

<a class="btn btn-primary" target="_blank" href="{% url 'reporting:visit_report' %}?csv=1">Download</a>

<table class="table-striped table table-hover" style="overflow:auto;">
  <thead>
    {% for header in report.headers %}
    <th>{{header}}</th>
    {% endfor %}
  </thead>
  <tbody>
    {% for row in report.rows %}
    <tr>
      {% for value in row.values %}
      <td>{{value|default:""}}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
