{% extends "admin/cephia_base_site.html" %}
{% load i18n admin_static %}
{% load staticfiles %}
{% block extrastyle %}
{{ block.super }}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/login.js' %}"></script>
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap-theme.min.css' %}" />
<link type="text/css" rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock %}

{% block bodyclass %}login{% endblock %}

{% block nav-global %}{% endblock %}

{% block content_title %}{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if form.errors and not form.non_field_errors and not form.this_is_the_login_form.errors %}
<p class="errornote">
    {% blocktrans count counter=form.errors.items|length %}Please correct the error below.{% plural %}Please correct the errors below.{% endblocktrans %}
</p>
{% endif %}

{% if form.non_field_errors or form.this_is_the_login_form.errors %}
{% for error in form.non_field_errors|add:form.this_is_the_login_form.errors %}
<p class="errornote">
    {{ error }}
</p>
{% endfor %}
{% endif %}

{{form.errors}}

<div id="content-main" class="login">
  {{app_path}}
    <form action="{{ app_path }}" method="post" class="login_form" id="login-form">{% csrf_token %}
        <div class="row username" id="username">

            {% if not form.this_is_the_login_form.errors %}{{ form.username.errors }}{% endif %}
            {{form.username}}

        </div>
        <div class="row password" id="password">

            {% if not form.this_is_the_login_form.errors %}{{ form.password.errors }}{% endif %}

            {{form.password}}

        </div>
        {% url 'admin_password_reset' as password_reset_url %}
        {% if password_reset_url %}
        <div class="password-reset-link">
            <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
        </div>
        {% endif %}
        <br/>
        <div>
            <button class="button login_button" onclick="$('.login_form').submit(); return false;">
                Login
            </button>
        </div>
    </form>

</div>
{% endblock %}
