<div id="nav">
  <ul class="sf-menu sf-js-enabled">

    {% if user.id %}
    <li><a class="navtab" href="{% url 'subjects' %}">Subjects</a></li>
    <li><a class="navtab" href="{% url 'visits' %}">Visits</a></li>
    <li><a class="navtab" href="{% url 'specimen' %}">Specimens</a></li>
    {% if user.is_staff %}
    <li><a class="navtab" href="{% url 'associate_specimen' %}">Specimen-Visit Association</a></li>
    <li><a class="navtab" href="{% url 'file_info' %}">Files</a></li>
    <li><a class="navtab" href="{% url 'reporting:visit_report' %}">Visit Report</a></li>
    {% endif %}
    {% endif %}

  </ul>
</div>

