<div id="nav">
  <ul class="sf-menu sf-js-enabled">

    {% if user.id %}
      <li><a class="navtab" href="{% url 'subjects' %}">Subjects</a></li>
      <li><a class="navtab" href="{% url 'visits' %}">Visits</a></li>
      <li><a class="navtab" href="{% url 'specimen' %}">Specimens</a></li>
      
      {% if user.is_staff %}
        <li><a class="navtab" href="{% url 'associate_specimen' %}">Specimen-Visit Association</a></li>
      {% endif %}
      <li>
        <a href="{% url 'reporting:report_landing_page' %}" class="dropDownMenu">Standard Reports</a>
      </li>
      <li><a class="navtab" href="{% url 'assay:panels' %}">Panels</a></li>
      <li><a class="navtab" href="{% url 'assay:assay_runs' %}">Assay Runs</a></li>

      {% if user.is_staff %}
        <li><a class="navtab" href="{% url 'file_info' %}">Files</a></li>
      {% endif %}
    {% endif %}
  </ul>
</div>

