<div id="nav">
  <ul class="sf-menu sf-js-enabled">

    {% if user.id %}
    <li><a class="navtab" href="{% url 'subjects' %}">Subjects</a></li>
    <li><a class="navtab" href="{% url 'visits' %}">Visits</a></li>
    <li><a class="navtab" href="{% url 'specimen' %}">Specimens</a></li>
    {% if user.is_staff %}
    <li><a class="navtab" href="{% url 'associate_specimen' %}">Specimen-Visit Association</a></li>
    <li><a class="navtab" href="{% url 'file_info' %}">Files</a></li>
    <li>
      <a href="/page/cephia" class="dropDownMenu">Standard Reports</a>
      <ul> 
        <li class="childItems">
          <a href="{% url 'reporting:visit_report' %}">Visit Report</a>
          <a href="{% url 'reporting:visit_report_new' %}">Visit Report - New</a>
          <a href="{% url 'reporting:generic_report' %}">Generic Report</a>
        </li>
      </ul>
    </li>
    {% endif %}
    {% endif %}

  </ul>
</div>

