{% extends "cephia/row_info_base.html" %}
{% load bootstrap3 %}
{% load endless %}

{% block filter_fields %}
{% bootstrap_field filter_form.state %}
{% bootstrap_field filter_form.has_comment %}
{% endblock %}


{% block pages %}
{% paginate rows %}
{% show_pages %}
{% endblock %}

{% block filename %}{{file}}{% endblock %}
{% block table_header %}
<thead>
  <th>Parent Label</th>
  <th>Aliquot Label</th>
  <th>Volume</th>
  <th>Volume Units</th>
  <th>Aliquoting Date</th>
  <th></th>
  <th></th>
  <th>Reason</th>
  <th>State</th>
  <th>Message</th>
</thead>
{% endblock %}

{% block table_body %}
<tbody>
  {% for row in rows %}
  <tr>
    <td>{{row.parent_label}}</td>
    <td>{{row.aliquot_label}}</td>
    <td>{{row.volume}}</td>
    <td>{{row.volume_units}}</td>
    <td>{{row.aliquoting_date_yyyy}}</td>
    <td>{{row.aliquoting_date_mm}}</td>
    <td>{{row.aliquoting_date_dd}}</td>
    <td>{{row.aliquot_reason}}</td>
    <td>{{row.state}}</td>
    <td>{{row.error_message}}</td>
    <td data-row-id="{{row.id}}" data-file-id="{{row.fileinfo.id}}" data-file-type="{{row.fileinfo.file_type}}">
      {% if row.state == 'error' %}
      <button class="btn btn-success btn-comment-modal">
        {% bootstrap_icon "comment" %}
      </button>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</tbody>
{% endblock %}










