{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load endless %}

{% block content %}
<div id="wrapper">
  <div class="container">
    <div class="heading">
      {% include "cephia/_top_navigation.html" %}
    </div>

    {% include "cephia/_navigation.html" %}

    <div class="outer_container fixed-outer-container">
      {% block left_menu %}
      {% endblock %}

      <div class="row">
        <div class="col-md-8">
          {% comment %}
          {% block filter_content %}
          <div class="container">
            <div class="row">
              <div class="panel panel-default" style="box-shadow: 10px 10px 5px #888888;">
                <div class="panel-heading">
                  <h3 class="panel-title">Filter</h3>
                </div>
                <div class="panel-body">
                  <form id="form" action="{% block submit_action %}{% endblock %}" role="form" method="GET">
                    <div class="row">
                      <div class="col-md-3">
                        {% block filter_col_a %}
                        {% endblock %}
                      </div>
                      <div class="col-md-3">
                        {% block filter_col_b %}
                        {% endblock %}
                      </div>
                      <div class="col-md-3">
                        {% block filter_col_c %}
                        {% endblock %}
                      </div>
                      <div class="col-md-3">
                        {% block filter_col_d %}
                        {% endblock %}
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-1">
                        {% bootstrap_button "Filter" button_type="submit" button_class="btn-primary" %}
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}
          {% endcomment %}
        </div>
        <div class="col-md-4">
          {% block info_content %}
          {% endblock %}
        </div>
      </div>
      
      {% block page_content %}
 
      {% paginate subjects %}
      {% show_pages %}
       <div class="row">
        {% for subject in subjects %}
        <div class="col-md-6">
          <div class="container">
            <div class="row">
              <div class="panel panel-default" style="box-shadow: 10px 10px 5px #888888;">
                <div class="panel-heading">
                  <h3 class="panel-title">Subject - {{subject.subject.subject_label}}</h3>
                </div>
                <div class="panel-body">
                  <form id="form" action="{% url 'associate_specimen_subject' subject_id=subject.subject.id %}" role="form" method="POST">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-12">
                        <div class="panel panel-default">
                          <div class="panel-heading">
                            <h5 class="panel-title">Specimen - Visits</h5>
                          </div>
                          <div class="panel-body">
                            <div class="table-responsive">
                              <table class="table-striped table table-hover" style="overflow:auto;">
                                <thead>
                                  <th></th>
                                  <th>Specimen</th>
                                  <th>Reported Draw Date</th>
                                  <th>Specimen Type</th>
                                  <th>Subject Label</th>
                                  <th>Visit Date</th>
                                  <th></th>
                                </thead>
                                <tbody>
                                  {% for spec in subject.specimens_with_visits %}
                                  <tr style="background-color:lightgreen;">
                                    <td></td>
                                    <td>{{spec.specimen_label}}</td>
                                    <td>{{spec.reported_draw_date}}</td>
                                    <td>{{spec.specimen_type.name}}</td>
                                    <td>{{spec.visit.subject_label}}</td>
                                    <td>{{spec.visit.visit_date}}</td>
                                    <td></td>
                                  </tr>
                                  {% endfor %}
                                  {% for spec in subject.specimens_with_prov_visits %}
                                  <tr style="background-color:pink;">
                                    <td></td>
                                    <td>{{spec.specimen_label}}</td>
                                    <td>{{spec.reported_draw_date}}</td>
                                    <td>{{spec.specimen_type.name}}</td>
                                    <td>{{spec.visit.subject_label}}</td>
                                    <td>{{spec.visit.visit_date}}</td>
                                    <td>
                                      <input type="radio" name="unlink" value="{{spec.id}}" style="display:none;">
                                      <a href="#" onclick="$(this).prev().attr('checked', true); $(this).closest('form').submit();">
                                        {% bootstrap_icon "link" %}
                                      </a>
                                    </td>
                                  </tr>
                                  {% endfor %}
                                  {% for spec in subject.specimens_without_visits %}
                                  <tr>
                                    <td><input type="radio" name="specimen" value="{{spec.id}}"></td>
                                    <td>{{spec.specimen_label}}</td>
                                    <td>{{spec.reported_draw_date}}</td>
                                    <td>{{spec.specimen_type.name}}</td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  {% endfor %}
                                  {% if subject.specimens_without_visits %}
                                  {% for visit in subject.visits %}
                                  <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>{{visit.subject_label}}</td>
                                    <td>{{visit.visit_date}}</td>
                                    <td><input type="radio" name="visit" value="{{visit.id}}"></td>
                                  </tr>
                                  {% endfor %}
                                  {% endif %}
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="container">
                        {% if subject.specimens_without_visits %}
                        <div class="btn-group">
                          <input type="submit" value="Artificial Visit" name="artificial" class="btn btn-primary" style="text-decoration:none; display:none;">
                        </div>
                        {% endif %}
                        {% if subject.specimens_without_visits %}
                        <div class="btn-group">
                          <input type="submit" value="Provisional Association" name="provisional" class="btn btn-primary" style="text-decoration:none; display:none;">
                        </div>
                        {% endif %}
                        {% if subject.specimens_with_prov_visits %}
                        <div class="btn-group">
                          <input type="submit" value="Confirm Associations" name="confirm" class="btn btn-primary" style="text-decoration:none;">
                        </div>
                        {% endif %}
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
        <div class="clearfix visible-md-block"></div>
      </div>
      {% endblock %}
    </div>
    
    <div id="footer">
      <div class="logo">
        <a href="http://www.sacema.org/" target="_blank">
          <img src="{% static 'images/logo.png' %}" style="float:left;" alt="SACEMA logo"
               title="South African Centre for Epidemiological Modelling and Analysis" height="100">
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
