{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block content %}
<div id="wrapper">
  <div class="container">

    <div class="heading">
      {% include "cephia/_top_navigation.html" %}
      <img src="{% static 'images/CEPHIA.jpg' %}" alt="CEPHIA logo" style="float:left;" height="150" title="CEPHIA">
      <h1 style="padding-top:40px;" class="site-title"><a href="./Incidence-Estimation.com_files/Incidence-Estimation.com.html">CEPHIA</a></h1>
      <span class="site-tagline">Consortium for the Evaluation and Performance of HIV Incidence Assays</span>
    </div>
    <br/>
    {% include "cephia/_navigation.html" %}
    <div class="outer_container fixed-outer-container">
      {% block left_menu %}
      {% endblock %}

      <div class="row">
        <div class="col-md-8">
          {% block filter_content %}
          <div class="container">
            <div class="row">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <a data-toggle="collapse" href="#filter-panel">Filter</a>
                  </h3>
                </div>
                <div id="filter-panel" class="panel-collapse collapse">
                  <div class="panel-body">
                    <form id="form" class="filter-form" action="{% block submit_action %}{% endblock %}" role="form" method="GET">
                      <div class="row">
                        <div class="col-md-3">
                          {% block filter_col_a %}
                          {% endblock %}
                        </div>
                        <div class="col-md-3">
                          {% block filter_col_b %}
                          {% endblock %}
                        </div>
                        <div class="col-md-3">
                          {% block filter_col_c %}
                          {% endblock %}
                        </div>
                        <div class="col-md-3">
                          {% block filter_col_d %}
                          {% endblock %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-1">
                          {% bootstrap_button "Filter" button_type="submit" button_class="btn-primary" %}
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endblock %}
        </div>
        <div class="col-md-4">
          {% block info_content %}
          {% endblock %}
        </div>
      </div>
      
      {% block page_content %}
      {% endblock %}

    </div>
    <div id="footer">
      <div class="logo">
        <a href="http://www.sacema.org/" target="_blank">
          <img src="{% static 'images/logo.png' %}" style="float:left;" alt="SACEMA logo"
               title="South African Centre for Epidemiological Modelling and Analysis" height="100">
        </a>
        <a href="http://www.gatesfoundation.org/" target="_blank">
          <img src="{% static 'images/BillAndMelindaGatesFoundation.jpg' %}" alt="BMGF logo" height="100"
               title="Bill and Melinda Gates Foundation">
        </a>
        <a href="https://www.gov.uk/government/organisations/public-health-england" target="_blank">
          <img src="{% static 'images/PublicHealthEngland.png' %}" alt="PHE logo" height="100"
               title="Public Health England">
        </a> 
        <a href="http://www.bsrisf.org/" target="_blank">
          <img src="{% static 'images/BloodSystemsResearchInstitute.jpg' %}" alt="BSRI logo" height="100"
               title="Blood Systems Research Institute">
        </a>
        <a href="http://www.ucsf.edu/" target="_blank">
          <img src="{% static 'images/UniversityOfCaliforniaSanFrancisco.jpg' %}" alt="UCSF logo" height="100"
               title="University of California San Francisco">
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
