{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="wrapper">
  <div class="container">
    <div class="heading">
      {% include "cephia/_top_navigation.html" %}
    </div>

    <div style="clear:both"></div>

    <div class="page_header">
      <h1 class="site-title">{% block site-title %}{% endblock %}</h1>
    </div>

    {% include "cephia/_navigation.html" %}

    <div class="outer_container fixed-outer-container">
      {% block left_menu %}
      {% endblock %}

      {% block filter_content %}
      {% endblock %}

      {% block button_content %}
      {% endblock %}

      {% block page_content %}
      {% endblock %}

      <div style="clear:both">&nbsp;</div>

    </div>
    <div style="clear:both">&nbsp;</div>

    <div id="footer">
      <div class="logo">
        <a href="http://www.sacema.org/" target="_blank">
          <img src="{% static 'images/logo.png' %}" style="float:left;" alt="SACEMA logo" title="South African Centre for Epidemiological Modelling and Analysis" height="100">
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
