{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load endless %}


{% block site-title %} File Information {% endblock %}

{% block page_content %}

{% paginate files %}
{% show_pages %}

<table class="table-striped table table-hover">

    <thead>
	<th></th>
	<th>Name</th>
	<th>Type</th>
	<th>Created</th>
	<th>State</th>
	<th>Download</th>
	<th>Message</th>
    </thead>

    <tbody>
	{% for file in files %}
	<tr>
	    <td><a href="{% url 'row_info' file.id %}">Detail</a></td>
	    <td>{{file.filename}}</td>
	    <td>{{file.file_type}}</td>
	    <td>{{file.created}}</td>
	    <td>{{file.state}}</td>
	    <td><a href="{% url 'download_file' file.id %}">Download</a></td>
	    <td data-toggle="tooltip" title="{{file.message}}">{{file.message}}</td>
	    <td>
		{% if file.state == 'pending' %}
		<a href="{% url 'parse_file' file.id %}" class="btn btn-default btn-sm">Import</a>
		{% elif file.state == 'imported' %}
		<a href="{% url 'process_file' file.id %}" class="btn btn-default btn-sm">Process</a>
		{% endif %}
	    </td>
	</tr>
	{% endfor %}
    </tbody>
</table>

{% include 'cephia/upload_file.html' with form=form %}

{% include 'cephia/message_modal.html'%}

<div class="container">
    <div class="modal fade" id="rowModal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
		{% block modal_header %}{% endblock %}
		{% block modal_body %}{% endblock %}
		{% block modal_footer %}{% endblock %}
            </div>
	</div>
    </div>
</div>

{% endblock %}




