{% load staticfiles %}
<div id="footer">
  <div class="logo">
    <a href="http://www.sacema.org/" target="_blank">
      <img src="{% static 'images/logo.png' %}" alt="SACEMA logo"
           title="South African Centre for Epidemiological Modelling and Analysis" height="100">
    </a>
    <a href="https://www.gov.uk/government/organisations/public-health-england" target="_blank">
      <img src="{% static 'images/PublicHealthEngland.png' %}" alt="PHE logo" height="100"
           title="Public Health England">
    </a> 
    <a href="http://www.bsrisf.org/" target="_blank">
      <img src="{% static 'images/BloodSystemsResearchInstitute.jpg' %}" alt="BSRI logo" height="100"
           title="Blood Systems Research Institute">
    </a>
    <a href="http://www.ucsf.edu/" target="_blank">
      <img src="{% static 'images/UniversityOfCaliforniaSanFrancisco.jpg' %}" alt="UCSF logo" height="100"
           title="University of California San Francisco">
    </a>
    
    <a href="http://www.finddx.org/" target="_blank">
      <img src="{% static 'images/finddx.png' %}" alt="Find logo" style="max-width: 150px; margin-left: 20px;"
           title="Find">
    </a>
    
    <a href="http://www.gatesfoundation.org/" target="_blank">
      <img src="{% static 'images/BillAndMelindaGatesFoundation.jpg' %}" alt="BMGF logo" height="100"
           title="Bill and Melinda Gates Foundation">
    </a>
  </div>
</div>
