{% extends "cephia/base.html" %}

{% block filter_content %}{% endblock %}
{% block page_content %}

<div class="page-header">
  <h2>Welcome to Cephia</h2>
</div>
<table class="table-striped table table-hover home">
    <thead>
        <th>File Status</th>
	<th>Last File Uploaded</th>
	<th>Time Uploaded</th>
	<th>Time File Processed</th>
	<th>Errors</th>
	<th>Succesful Rows</th>
        <th>Comments</th>
    </thead>
    <tbody>
        <tr>
            <td><button class="btn btn-primary file_priority" data-toggle="modal" data-target="#myModal" data-file-priority="1">Subject</button></td>

            {% if subject_file %}
            <td>{{ subject_file.filename }}</td>
            <td>{{ subject_file.created }}</td>
            <td>{{ subject_process_date.date_processed }}</td>
            <td>{{ subject_errors}}</td>
            <td>{{ subject_success}}</td>
            <td>{{ subject_file.message|default:'None' }}</td>
            {% endif %}

        </tr>
        <tr>
            <td><button class="btn btn-primary file_priority" data-toggle="modal" data-target="#myModal" data-file-priority="2">Visit</button></td>
            {% if visit_file %}
            <td>{{ visit_file.filename }}</td>
            <td>{{ visit_file.created }}</td>
            <td>{{ visit_process_date.date_processed }}</td>
            <td>{{ visit_errors }}</td>
            <td>{{ visit_success }}</td>
            <td>{{ visit_file.message|default:'None' }}</td>
            {% endif %}
        </tr>
        <tr>
            <td><button class="btn btn-primary file_priority" data-toggle="modal" data-target="#myModal" data-file-priority="3">Transfer In</button></td>
            {% if transfer_in_file %}
            <td>{{ transfer_in_file.filename }}</td>
            <td>{{ transfer_in_file.created }}</td>
            <td>{{ transfer_in_process_date.date_processed }}</td>
            <td>{{ transfer_in_errors}}</td>
            <td>{{ transfer_in_success }}</td>
            <td>{{ transfer_in_file.message|default:'None' }}</td>
            {% endif %}
        </tr>
        <tr>
            <td><button class="btn btn-primary file_priority" data-toggle="modal" data-target="#myModal" data-file-priority="5">Aliquotting</button></td>
            {% if aliquot_file %}
            <td>{{ aliquot_file.filename }}</td>
            <td>{{ aliquot_file.created }}</td>
            <td>{{ aliquot_process_date.date_processed }}</td>
            <td>{{ aliquot_errors}}</td>
            <td>{{ aliquot_success }}</td>
            <td>{{ aliquot_file.message|default:'None' }}</td>
            {% endif %}
        </tr>
        <tr>
            <td><button class="btn btn-primary file_priority" data-toggle="modal" data-target="#myModal" data-file-priority="4">Transfer Out</button></td>
            {% if transfer_out_file %}
            <td>{{ transfer_out_file.filename }}</td>
            <td>{{ transfer_out_file.created }}</td>
            <td>{{ transfer_out_process_date.date_processed }}</td>
            <td>{{ transfer_out_errors}}</td>
            <td>{{ transfer_out_success }}</td>
            <td>{{ transfer_out_file.message|default:'None' }}</td>
            {% endif %}
        </tr>

    </tbody>
</table>

<div class="modal fade in" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="form" class="upload_form" action="{% url 'upload_file_priority'  %}" enctype="multipart/form-data" role="form" method="POST">
	            {% csrf_token %}
                <div class="modal-header">
                    
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title">Upload File</h4>
                </div>
                <div class="modal-body">
	          {{form.data_file}}
                  {{form.priority}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary upload-btn">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
 $('.file_priority').on("click", function(){
     var file_p = $(this).data("file-priority");
     $('#{{form.priority.auto_id}}').val(file_p);
 });
</script>

{% endblock %}
