{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load endless %}


{% block site-title %} Row Information {% endblock %}

{% block page_content %}

{% paginate rows %}
{% show_pages %}

<table class="table-striped table table-hover" style="overflow:auto;">
    <thead>
	<th>Origin Box Name</th>
	<th>Sample ID</th>
	<th>Draw Date</th>
	<th>Volume</th>
	<th>Box</th>
	<th>Row</th>
	<th>Column</th>
	<th>Comments</th>
	<th>State</th>
	<th>Message</th>
    </thead>

    <tbody>
	{% for row in rows %}
	<tr>
	    <td>{{row.original_box_name}}</td>
	    <td>{{row.sample_id}}</td>
	    <td>{{row.draw_date}}</td>
	    <td>{{row.volume}}</td>
	    <td>{{row.box}}</td>
	    <td>{{row.row}}</td>
	    <td>{{row.column}}</td>
	    <td>{{row.comments}}</td>
	    <td>{{row.state}}</td>
	    <td>{{row.error_message}}</td>
	</tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}


