{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load endless %}


{% block site-title %} Row Information {% endblock %}

{% block page_content %}

{% paginate rows %}
{% show_pages %}

<table class="table-striped table table-hover" style="overflow:auto;">
    <thead>
	<th>First Aliquot</th>
	<th>Last Aliquot</th>
	<th>Aliquots Created</th>
	<th>Volume</th>
	<th>Panels Used</th>
	<th>State</th>
	<th>Message</th>
    </thead>

    <tbody>
	{% for row in rows %}
	<tr>
	    <td>{{row.first_aliquot}}</td>
	    <td>{{row.last_aliquot}}</td>
	    <td>{{row.aliquots_created}}</td>
	    <td>{{row.volume}}</td>
	    <td>{{row.panels_used}}</td>
	    <td>{{row.state}}</td>
	    <td>{{row.error_message}}</td>
	</tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}


