{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load endless %}

{% block filter_content %}
<div class="container">
  <div class="row col-md-12">
    <div class="panel panel-default" style="box-shadow: 10px 10px 5px #888888;">
      <div class="panel-heading">
        <h3 class="panel-title">Filter</h3>
      </div>
      <div class="panel-body">
        <form id="form" action="{% block submit_action %}{% endblock %}" role="form" method="GET">
          <div class="row">
            <div class="col-md-4">
              {% block filter_fields %}
              {% endblock %}
            </div>
          </div>
          <div class="row">
            <div class="col-md-1">
              {% bootstrap_button "Filter" button_type="submit" button_class="btn-primary" %}
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block page_content %}

<div class="container">
  <div class="row">
    <div class="panel panel-default" style="box-shadow: 10px 10px 5px #888888; height:auto; max-height:100%x; overflow:auto;">
      <div class="panel-heading">
        <h3 class="panel-title">File Information - {% block filename %}{% endblock %}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="container"
            <div class="table-responsive">
              {% block pages %}{% endblock %}
              <table class="table-striped table table-hover" style="overflow:auto;">
                {% block table_header %}{% endblock %}
                {% block table_body %}{% endblock %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="comment-modal">
</div>
{% endblock %}


