{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load endless %}

<div class="col-md-8">
  {% block filter_content %}
  <div class="container">
    <div class="row">
      <div class="panel panel-info">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" href="#filter-panel">Filter</a>
          </h3>
        </div>
        <div id="filter-panel" class="panel-collapse collapse">
          <div class="panel-body">
            <form id="form" class="filter-form" action="{% block submit_action %}{% endblock %}" role="form" method="GET">
              <div class="row">
                <div class="col-md-3">
                  {% block filter_col_a %}
                  {% endblock %}
                </div>
                <div class="col-md-3">
                  {% block filter_col_b %}
                  {% endblock %}
                </div>
                <div class="col-md-3">
                  {% block filter_col_c %}
                  {% endblock %}
                </div>
                <div class="col-md-3">
                  {% block filter_col_d %}
                  {% endblock %}
                </div>
              </div>
              <div class="row">
                <div class="col-md-1">
                  {% bootstrap_button "Filter" button_type="submit" button_class="btn-primary" %}
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
</div>

{% block page_content %}

<div class="container">
  <div class="row">
    <div class="panel panel-default" style="box-shadow: 10px 10px 5px #888888; height:auto; max-height:100%x; overflow:auto;">
      <div class="panel-heading">
        <h3 class="panel-title">File Information - {% block filename %}{% endblock %}</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          {% block pages %}{% endblock %}
          <div class="container">
            <div class="table-responsive">
              <div class="btn-group pull-right">
                <a href="{% url 'export_file_data' file_id=file_id state='error' %}" class="btn btn-primary" style="text-decoration:none;">Export errors to CSV</a>
              </div>
              <div class="btn-group pull-right">
                <a href="{% url 'export_file_data' file_id=file_id state='all' %}" class="btn btn-primary" style="text-decoration:none;">Export file data</a>
              </div>
              <table class="table-striped table table-hover" style="overflow:auto;">
                {% block table_header %}{% endblock %}
                {% block table_body %}{% endblock %}
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="comment-modal">
</div>
{% endblock %}


