{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load endless %}


{% block site-title %} Specimen {% endblock %}

{% block page_content %}

{% paginate specimen %}
{% show_pages %}

<table class="table-striped table table-hover" style="overflow:auto;">
    <thead>
	<th>Label</th>
	<th>Number of Containers</th>
	<th>Draw Date</th>
	<th>Transfer in Date</th>
	<th>To Location</th>
	<th>Reason</th>
	<th>Specimen Type</th>
	<th>Initial Claimed Volume</th>
	<th>Other Ref</th>
	<th>Source Study</th>
	<th>Site</th>
    </thead>

    <tbody>
	{% for spec in specimen %}
	<tr>
	    <td>{{spec.label}}</td>
	    <td>{{spec.num_containers}}</td>
	    <td>{{spec.reported_draw_date}}</td>
	    <td>{{spec.transfer_in_date}}</td>
	    <td>{{spec.to_location}}</td>
	    <td>{{spec.reason}}</td>
	    <td>{{spec.spec_type.name}}</td>
	    <td>{{spec.volume}}</td>
	    <td>{{spec.initial_claimed_volume}}</td>
	    <td>{{spec.other_ref}}</td>
	    <td>{{spec.source_study}}</td>
	    <td>{{spec.site}}</td>
	</tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}


