{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load endless %}


{% block site-title %} Row Information {% endblock %}

{% block page_content %}

{% paginate spec_type %}
{% show_pages %}

<table class="table-striped table table-hover" style="overflow:auto;">
    <thead>
	<th>ID</th>
	<th>Specimen Type</th>
	<th>Specimen Type Group</th>
	<th>Name</th>
    </thead>

    <tbody>
	{% for st in spec_type %}
	<tr>
	    <td>{{st.id}}</td>
	    <td>{{st.spec_type}}</td>
	    <td>{{st.spec_group}}</td>
	    <td>{{st.name}}</td>
	</tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}


