{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load endless %}


{% block site-title %} Specimen {% endblock %}

{% block page_content %}

{% paginate specimen %}
{% show_pages %}

<table class="table-striped table table-hover" style="overflow:auto;">
    <thead>
	<th></th>
	<th>Label</th>
	<th>Number of Containers</th>
	<th>Draw Date</th>
	<th>Transfer in Date</th>
	<th>To Location</th>
	<th>Reason</th>
	<th>Specimen Type</th>
	<th>Initial Claimed Volume</th>
	<th>Other Ref</th>
	<th>Source Study</th>
	<th>Site</th>
    </thead>

    <tbody>
	{% for spec in specimen %}
	<tr>
	    <td>{{visit.label}}</td>
	    <td>{{visit.num_containers}}</td>
	    <td>{{visit.reported_draw_date}}</td>
	    <td>{{visit.transfer_in_date}}</td>
	    <td>{{visit.to_location}}</td>
	    <td>{{visit.reason}}</td>
	    <td>{{visit.spec_type}}</td>
	    <td>{{visit.volume}}</td>
	    <td>{{visit.initial_claimed_volume}}</td>
	    <td>{{visit.other_ref}}</td>
	    <td>{{visit.source_study}}</td>
	    <td>{{visit.site}}</td>
	</tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}


