{% extends "cephia/tms_base.html" %}
{% load bootstrap3 %}
{% load endless %}


{% block site-title %} Studies {% endblock %}

{% block page_content %}

{% paginate studies %}
{% show_pages %}

<table class="table-striped table table-hover" style="overflow:auto;">
    <thead>
	<th>Name</th>
        <th>Description</th>
    </thead>

    <tbody>
	{% for study in studies %}
	<tr>
	    <td>{{study.name}}</td>
            <td>{{study.description}}</td>
	</tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}


