{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load endless %}


{% block site-title %} Row Information {% endblock %}

{% block page_content %}

{% paginate rows %}
{% show_pages %}

<table class="table-striped table table-hover" style="overflow:auto;">
    <thead>
	<th>Patient Label</th>
	<th>Entry Date</th>
	<th>Entry Status</th>
	<th>Country</th>
	<th>Last Negative Date</th>
	<th>Last Positive Date</th>
	<th>ARS Onset</th>
	<th>Fiebig</th>
	<th>DOB</th>
	<th>Gender</th>
	<th>Ethnicity</th>
	<th>Sex with men</th>
	<th>Sex with women</th>
	<th>iv_drug_user</th>
	<th>Subtype Confirmed</th>
	<th>Subtype</th>
	<th>Anti Retroviral Init Date</th>
	<th>AIDS Diagnosis Date</th>
	<th>Treatment Interruption Date</th>
	<th>Treatment Resumption Date</th>
	<th>State</th>
	<th>Message</th>
    </thead>

    <tbody>
	{% for row in rows %}
	<tr>
	    <td>{{row.patient_label}}</td>
	    <td>{{row.entry_date}}</td>
	    <td>{{row.entry_status}}</td>
	    <td>{{row.country}}</td>
	    <td>{{row.last_negative_date}}</td>
	    <td>{{row.last_positive_date}}</td>
	    <td>{{row.ars_onset}}</td>
	    <td>{{row.fiebig}}</td>
	    <td>{{row.dob}}</td>
	    <td>{{row.gender}}</td>
	    <td>{{row.ethnicity}}</td>
	    <td>{{row.sex_with_men}}</td>
	    <td>{{row.sex_with_women}}</td>
	    <td>{{row.iv_drug_user}}</td>
	    <td>{{row.subtype_confirmed}}</td>
	    <td>{{row.subtype}}</td>
	    <td>{{row.anti_retroviral_initiation_date}}</td>
	    <td>{{row.aids_diagnosis_date}}</td>
	    <td>{{row.treatment_interruption_date}}</td>
	    <td>{{row.treatment_resumption_date}}</td>
	    <td>{{row.state}}</td>
	    <td>{{row.error_message}}</td>
	    {% if row.state == 'error' %}
	    <td><a href="{% url 'delete_row' row.id %}" class="btn btn-default btn-sm">Delete</a><td>
	    {% endif %}
	</tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}


