{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load endless %}


{% block site-title %} Subjects {% endblock %}

{% block filter_content %}
<div class="btn-group" style="float:right;">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Filter <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right">
	<li><a href="{% url 'subjects' %}?associated=false">No associated visits</a></li>
	<li><a href="{% url 'subjects' %}?associated=true">Associated with visits</a></li>
    </ul>
</div>
{% endblock %}

{% block button_content %}
<a href="{% url 'download_subjects_no_visits' %}" class="btn btn-primary" style="float:right">Export as CSV</a>
{% endblock %}

{% block page_content %}

{% paginate subjects %}
{% show_pages %}

<table class="table-striped table table-hover" style="overflow:auto;">
    <thead>
	<th>Patient Label</th>
	<th>Entry Date</th>
	<th>Entry Status</th>
	<th>Country</th>
	<th>Last Negative Date</th>
	<th>Last Positive Date</th>
	<th>ARS Onset</th>
	<th>Fiebig</th>
	<th>DOB</th>
	<th>Gender</th>
	<th>Ethnicity</th>
	<th>Sex with men</th>
	<th>Sex with women</th>
	<th>IV Drug User</th>
	<th>Subtype Confirmed</th>
	<th>Subtype</th>
	<th>Anti Retroviral Init Date</th>
	<th>AIDS Diagnosis Date</th>
	<th>Treatment Interruption Date</th>
	<th>Treatment Resumption Date</th>
    </thead>

    <tbody>
	{% for subject in subjects %}
	<tr>
	    <td>{{subject.patient_label}}</td>
	    <td>{{subject.entry_date}}</td>
	    <td>{{subject.entry_status}}</td>
	    <td>{{subject.country.name}}</td>
	    <td>{% if subject.last_negative_date %}{{subject.last_negative_date}}{% endif %}</td>
	    <td>{% if subject.last_positive_date %}{{subject.last_positive_date}}{% endif %}</td>
	    <td>{% if subject.ars_onset %} {{subject.ars_onset}} {% else %} &nbsp; {% endif %}</td>
	    <td>{{subject.fiebig}}</td>
	    <td>{% if subject.dob %}{{ subject.dob|date:"Y" }}{% endif %}</td>
	    <td>{{subject.gender}}</td>
	    <td>{{subject.ethnicity.name}}</td>
	    <td>{% if subject.sex_with_men %}{% bootstrap_icon "ok" %}{% else %}{% bootstrap_icon "remove" %}{% endif %}</td>
	    <td>{% if subject.sex_with_women %}{% bootstrap_icon "ok" %}{% else %}{% bootstrap_icon "remove" %}{% endif %}</td>
	    <td>{% if subject.iv_drug_user %}{% bootstrap_icon "ok" %}{% else %}{% bootstrap_icon "remove" %}{% endif %}</td>
	    <td>{% if subject.subtype_confirmed %}{% bootstrap_icon "ok" %}{% else %}{% bootstrap_icon "remove" %}{% endif %}</td>
	    <td>{{subject.subtype.name}}</td>
	    <td>{% if subject.anti_retroviral_initiation_date %} {{subject.anti_retroviral_initiation_date}} {% else %} &nbsp; {% endif %}</td>
	    <td>{% if subject.aids_diagnosis_date %} {{subject.aids_diagnosis_date}} {% else %} &nbsp; {% endif %}</td>
	    <td>{% if subject.treatment_interruption_date %} {{subject.treatment_interruption_date }} {% else %} &nbsp; {% endif %}</td>
	    <td>{% if subject.treatment_resumption_date %} {{subject.treatment_resumption_date}} {% else %} &nbsp; {% endif %}</td>
	</tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}


