{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load endless %}


{% block site-title %} Visits {% endblock %}

{% block filter_content %}
<div class="btn-group" style="float:right;">
    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	Filter <span class="caret"></span>
    </button>
    <ul class="dropdown-menu pull-right">
	<li><a href="{% url 'visits' %}?associated=false">No associated subjects</a></li>
	<li><a href="{% url 'visits' %}?associated=true">Associated with subjects</a></li>
    </ul>
</div>
{% endblock %}

{% block button_content %}
<a href="{% url 'download_visits_no_subjects' %}" class="btn btn-primary" style="float:right">Export as CSV</a>
{% endblock %}

{% block page_content %}

{% paginate visits %}
{% show_pages %}

<table class="table-striped table table-hover" style="overflow:auto;">
    <thead>
	<th>Subject</th>
	<th>Visit Date</th>
	<th>Status</th>
	<th>Study</th>
	<th>CD4</th>
	<th>VL</th>
	<th>Scope Visit EC</th>
	<th>Pregnant</th>
	<th>Hepatitis</th>
    </thead>

    <tbody>
	{% for visit in visits %}
	<tr>
	    <td>{% if visit.subject %}<a href="{% url 'subjects' %}?patient_label={{visit.visit_label}}">{{visit.visit_label}}</a>{% else %}{{visit.visit_label}}{% endif %}</td>
	    <td>{{visit.visit_date}}</td>
	    <td>{{visit.status}}</td>
	    <td>{{visit.study.name}}</td>
	    <td>{{visit.visit_cd4}}</td>
	    <td>{{visit.visit_vl}}</td>
	    <td>{{visit.scope_visit_ec}}</td>
	    <td>{% if visit.visit_pregnant %}{% bootstrap_icon "ok" %}{% else %}{% bootstrap_icon "remove" %}{% endif %}</td>
	    <td>{% if visit.visit_hepatitis %}{% bootstrap_icon "ok" %}{% else %}{% bootstrap_icon "remove" %}{% endif %}</td>
	</tr>
	{% endfor %}
    </tbody>
</table>

{% endblock %}


