{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load endless %}

{% block filter_col_a %}
{% bootstrap_field form.subject_label %}
{% bootstrap_field form.visit_date %}
{% bootstrap_field form.visit_hivstatus %}
{% endblock %}

{% block filter_col_b %}
{% bootstrap_field form.pregnant %}
{% bootstrap_field form.hepatitis %}
{% bootstrap_field form.artificial %}
{% endblock %}

{% block page_content %}

{% paginate visits %}
<div class="container">
  <div class="row">
    <div class="panel panel-default" style="box-shadow: 10px 10px 5px #888888;">
      <div class="panel-heading">
        <h3 class="panel-title">Visits</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="container"
               {% show_pages %}
            <div class="table-responsive">
              <table class="table-striped table table-hover" style="overflow:auto;">
                <thead>
	          <th>Subject</th>
	          <th>Visit Date</th>
	          <th>Status</th>
	          <th>Study</th>
	          <th>CD4</th>
	          <th>VL</th>
	          <th>Scope Visit EC</th>
	          <th>Pregnant</th>
	          <th>Hepatitis</th>
                </thead>

                <tbody>
	          {% for visit in visits %}
	          <tr>
	            <td>{% if visit.subject %}<a href="{% url 'subjects' %}?patient_label={{visit.subject_label}}">
                      {{visit.subject_label}}</a>{% else %}{{visit.subject_label}}{% endif %}
                    </td>
	            <td>{{visit.visit_date}}</td>
	            <td>{{visit.visit_hivstatus}}</td>
	            <td>{{visit.source_study.name}}</td>
	            <td>{{visit.cd4_count}}</td>
	            <td>{{visit.vl}}</td>
	            <td>{{visit.scopevisit_ec}}</td>
	            <td>{% if visit.pregnant %}{% bootstrap_icon "ok" %}{% else %}{% bootstrap_icon "remove" %}{% endif %}</td>
	            <td>{% if visit.hepatitis %}{% bootstrap_icon "ok" %}{% else %}{% bootstrap_icon "remove" %}{% endif %}</td>
	          </tr>
	          {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
          <div class="btn-group">
            <a href="{% url 'download_visits_no_subjects' %}" class="btn btn-primary">Export as CSV</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}



