{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load el_pagination_tags %}

{% block filter_col_a %}
  {% bootstrap_field form.panel %}
{% endblock %}

{% block filter_col_b %}
  {% bootstrap_field form.assay %}
{% endblock %}

{% block filter_col_c %}
  {% bootstrap_field form.laboratory %}
{% endblock %}

{% block page_content %}

  {% paginate runs %}

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" href="#panel">Combine assay results for visits</a>
          </h3>
        </div>
        <div id="panel" class="panel-collapse collapse">
          <div class="panel-body">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {% bootstrap_form by_visits_form %}
              <div class="form-group">
                <button class="btn btn-default">Get results</button>
                <button class="btn btn-default" type="submit" id="preview" href="#" >Preview results</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 hidden" id="preview_results">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">Preview of results</h3>
        </div>
        <table class="table-striped table table-hover" style="overflow:auto;">
          <thead>
            <th>Run ID</th>
            <th>Panel</th>
            <th>Assay</th>
            <th>Laboratory</th>
            <th>File</th>
            <th>Run Date</th>
          </thead>
          <tbody>
            {% if preview %}
              {% for prev in preview %}
                <tr>
                  <td>{{ prev.pk }}</td>
                  <td>test</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="container" id="runs">
    <div class="row">
      <div class="panel panel-default" style="box-shadow: 10px 10px 5px #888888;">
        <div class="panel-heading">
          <h3 class="panel-title">Assay Runs</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="container"
                 {% show_pages %}
              <div class="table-responsive">
                <table class="table-striped table table-hover" style="overflow:auto;">
                  <thead>
                    <th>Run ID</th>
                    <th>Panel</th>
                    <th>Assay</th>
                    <th>Laboratory</th>
                    <th>File</th>
                    <th>Run Date</th>
                  </thead>
                  <tbody>
                    {% for run in runs %}
                      <tr>
                        <td>{{run.pk}}</td>
                        <td>{{run.panel.name}}</td>
                        <td>{{run.assay.name}}</td>
                        <td>{{run.laboratory.name}}</td>
                        <td>{{run.fileinfo.filename}}</td>
                        <td>{{run.run_date}}</td>
                        <td><a href="{% url 'assay:run_results' run_id=run.id %}" target="_blank" class="btn btn-default" style="text-decoration:none;">Preview Results</a></td>
                        <td><a href="{% url 'assay:purge_run' run_id=run.id %}" class="btn btn-danger" style="text-decoration:none;">Purge</a></td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="result-modal">
  </div>
  <div class="membership-modal">
  </div>
  <div class="shipment-modal">
  </div>

  <script>
   $("#preview").click(function (event) {
       event.preventDefault();

       var vis = $('#preview_results').is(":visible");
       var form = $('#panel').find('form');
       post_data = form.serialize();
       $.get(form.attr('action'), post_data).done(function(data) {
           $("#preview_results").removeClass("hidden");
       })

       /* if (vis === false){
        *     $("#preview_results").removeClass("hidden");
        * }
        * else if (vis === true){
        *     $("#preview_results").addClass("hidden");
        * }*/
   });
  </script>
{% endblock %}
