{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load el_pagination_tags %}

{% block filter_col_a %}
  {% bootstrap_field form.panel %}
{% endblock %}

{% block filter_col_b %}
  {% bootstrap_field form.assay %}
{% endblock %}

{% block filter_col_c %}
  {% bootstrap_field form.laboratory %}
{% endblock %}

{% block page_content %}

  {% paginate runs %}

  <div class="row">
    <div class="col-md-4">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a data-toggle="collapse" href="#panel">Combine Assay Results for Visits</a>
          </h3>
        </div>
        <div id="panel" class="panel-collapse collapse">
          <div class="panel-body">
            <form method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              {% bootstrap_form by_visits_form %}
              <div class="form-group">
                <button class="btn btn-default" id="submit" >Get Results</button>
                <a class="btn btn-default" id="preview" >Preview Results</a>
                <p>The preview does not work with data in uploaded files and only shows the first 25 results to reduce processing time</p>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8 hidden" id="preview_results"></div>
  </div>

  <div class="container" id="runs">
    <div class="row">
      <div class="panel panel-default" style="box-shadow: 10px 10px 5px #888888;">
        <div class="panel-heading">
          <h3 class="panel-title">Assay Runs</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="container"
                 {% show_pages %}
              <div class="table-responsive">
                <table class="table-striped table table-hover" style="overflow:auto;">
                  <thead>
                    <th>Run ID</th>
                    <th>Panel</th>
                    <th>Assay</th>
                    <th>Laboratory</th>
                    <th>File</th>
                    <th>Run Date</th>
                  </thead>
                  <tbody>
                    {% for run in runs %}
                      <tr>
                        <td>{{run.pk}}</td>
                        <td>{{run.panel.name}}</td>
                        <td>{{run.assay.name}}</td>
                        <td>{{run.laboratory.name}}</td>
                        <td>{{run.fileinfo.filename}}</td>
                        <td>{{run.run_date}}</td>
                        <td><a href="{% url 'assay:run_results' run_id=run.id %}" target="_blank" class="btn btn-default" style="text-decoration:none;">Preview Results</a></td>
                        {% if can_purge_runs %} 
                          <td><a href="{% url 'assay:purge_run' run_id=run.id %}" onclick="if ( ! confirm('Are you sure you want to purge this Assay Run?') ) { return false }" class="btn btn-danger" style="text-decoration:none;">Purge</a></td>
                        {% endif %}
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="result-modal">
  </div>
  <div class="membership-modal">
  </div>
  <div class="shipment-modal">
  </div>

  <script>
   $("#preview").click(function (event) {
       event.preventDefault();

       var vis = $('#preview_results').is(":visible");
       var form = $('#panel').find('form');
       form_data = form.serialize();
       
       $.get('{% url 'assay:preview_assay_runs' %}', form_data).done(function(data) {
           $("#preview_results").removeClass("hidden");
           $("#preview_results").replaceWith(data);
       })

   });

   $("#submit").click(function (event) {
       var visit_ids = $('#id_visit_ids').val()
       var visit_file = $('#id_visit_file').val()
       var specimen_labels = $('#id_specimen_labels').val()
       var specimen_file = $('#id_specimen_file').val()
       var by_visit_assays = $('#id_by_visit_assays').val()
       var panels = $('#id_panels').val()

       if ( !visit_ids && !visit_file && !specimen_labels && !specimen_file && by_visit_assays===null && panels===null ){
           if (confirm('You have not provided any filters so you will receive all results. This will take a while to process. Are you sure that you want to continue?')) {
           } else {
               event.preventDefault();
           }
       }
   });
  </script>
{% endblock %}
