{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load el_pagination_tags %}

{% block page_content %}

  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">Create New Custom Assay</h3>
    </div>
    <div class="panel-body">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <div class="form-group">
          <button class="btn btn-default">Save Custom Assay</button>
        </div>
      </form>
    </div>
  </div>

  <div class="container">
    <div class="panel panel-default" style="box-shadow: 10px 10px 5px #888888;">
      <div class="panel-heading">
        <h3 class="panel-title">Custom Assays</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="container"
            <div class="table-responsive">
              <table class="table-striped table table-hover" style="overflow:auto;">
                <thead>
                  <th>Assay Name</th>
                  <th>Description</th>
                  <th>Created By</th>
                </thead>
                <tbody>
                  {% for assay in custom_assays %}
                    <tr>
                      <td>{{ assay.name }}</td>
                      <td>{{ assay.description }}
                      <td>{{ assay.created_by }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
