{% extends "cephia/row_info_base.html" %}
{% load bootstrap3 %}
{% load endless %}

{% block filter_fields %}
{% bootstrap_field filter_form.state %}
{% bootstrap_field filter_form.has_comment %}
{% endblock %}

{% block filename %}{{file}}{% endblock %}
{% block table_header %}
<thead>
  <th>Blinded ID</th>
  <th>Assay</th>
  <th>Samples</th>
  <th>Site</th>
  <th>Test Date</th>
  <th>Operator</th>
  <th>Assay Kit Lot</th>
  <th>Run/Plate ID</th>
  <th>Test Mode</th>
  <th>Wells</th>
  <th>gp36</th>
  <th>gp140</th>
  <th>gp160</th>
  <th>p24</th>
  <th>p31</th>
  <th>CTRL</th>
  <th>BioRad Confirmatory Result</th>
  <th>Panel Type</th>
  <th>Exclude</th>
  <th>State</th>
  <th>Message</th>
</thead>
{% endblock %}

{% block table_body %}
{% paginate rows %}
{% show_pages %}
<tbody>
  {% for row in rows %}
  <tr>
    <td>{{row.blinded_id}}</td>
    <td>{{row.assay}}</td>
    <td>{{row.sample_type}}</td>
    <td>{{row.site}}</td>
    <td>{{row.test_date}}</td>
    <td>{{row.operator}}</td>
    <td>{{row.assay_kit_lot_id}}</td>
    <td>{{row.plate_id}}</td>
    <td>{{row.test_mode}}</td>
    <td>{{row.wells}}</td>
    <td>{{row.gp36}}</td>
    <td>{{row.gp140}}</td>
    <td>{{row.gp160}}</td>
    <td>{{row.p24}}</td>
    <td>{{row.p31}}</td>
    <td>{{row.ctrl}}</td>
    <td>{{row.biorad_confirmatory_result}}</td>
    <td>{{row.panel_type}}</td>
    <td>{{row.exclude}}</td>
    <td>{{row.message}}</td>
    <td>{{row.state}}</td>
    <td><pre>{{row.error_message}}</pre></td>
    <td data-row-id="{{row.id}}" data-file-id="{{row.fileinfo.id}}" data-file-type="{{row.fileinfo.file_type}}">
      {% if row.state == 'error' %}
      <button class="btn btn-success btn-comment-modal">
        {% bootstrap_icon "comment" %}
      </button>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</tbody>
{% endblock %}
