{% extends "cephia/row_info_base.html" %}
{% load bootstrap3 %}
{% load el_pagination_tags %}

{% block filter_col_a %}
{% bootstrap_field filter_form.state %}
{% endblock %}

{% block filter_col_b %}
{% bootstrap_field filter_form.has_comment %}
{% endblock %}

{% block filename %}{{file}}{% endblock %}
{% block table_header %}
  <thead>
    <th>specimen_label</th>
    <th>assay</th>
    <th>laboratory</th>
    <th>test_date</th>
    <th>operator</th>
    <th>assay_kit_lot</th>
    <th>plate_identifier</th>
    <th>test_mode</th>
    <th>specimen_purpose</th>
    <th>interpretation</th>
    
    <th>well_tm</th>

    <th>well_v3</th>
    <th>tm_OD</th>
    <th>v3_OD</th>
    <th>tm_ratio_reported</th>
    <th>v3_ratio_reported</th>
    <th>tm_ratio</th>
    <th>v3_ratio</th>
    <th>intermediaire_reported</th>
    <th>intermediaire</th>
    <th>conclusion_reported</th>
    <th>conclusion</th>
    <th>Message</th>
</thead>
{% endblock %}

{% block table_body %}
{% paginate rows %}
{% show_pages %}
<tbody>
  {% for row in rows %}
  <tr>
    <td>{{row.specimen_label}}</td>
    <td>{{row.assay}}</td>
    <td>{{row.laboratory}}</td>
    <td>{{row.test_date}}</td>
    <td>{{row.operator}}</td>
    <td>{{row.assay_kit_lot}}</td>
    <td>{{row.plate_identifier}}</td>
    <td>{{row.test_mode}}</td>
    <td>{{row.specimen_purpose}}</td>
    <td>{{row.interpretation}}</td>
    
    <td>{{row.well_tm}}</td>

    <td>{{row.well_v3}}</td>
    <td>{{row.tm_OD}}</td>
    <td>{{row.v3_OD}}</td>
    <td>{{row.tm_ratio_reported}}</td>
    <td>{{row.v3_ratio_reported}}</td>
    <td>{{row.tm_ratio}}</td>
    <td>{{row.v3_ratio}}</td>
    <td>{{row.intermediaire_reported}}</td>
    <td>{{row.intermediaire}}</td>
    <td>{{row.conclusion_reported}}</td>
    <td>{{row.conclusion}}</td>
    
    <td><pre>{{row.warning_msg}}
      {{row.error_message}}</pre></td>
    <td data-row-id="{{row.id}}" data-file-id="{{row.fileinfo.id}}" data-file-type="{{row.fileinfo.file_type}}">
      {% if row.state == 'error' %}
      <button class="btn btn-success btn-comment-modal">
        {% bootstrap_icon "comment" %}
      </button>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</tbody>
{% endblock %}
