{% extends "cephia/row_info_base.html" %}
{% load bootstrap3 %}
{% load endless %}

{% block filter_col_a %}
{% bootstrap_field filter_form.state %}
{% endblock %}

{% block filter_col_b %}
{% bootstrap_field filter_form.has_comment %}
{% endblock %}

{% block filename %}{{file}}{% endblock %}
{% block table_header %}
<thead>
  <th>specimen_label</th>
  <th>assay</th>
  <th>laboratory</th>
  <th>test_date</th>
  <th>operator</th>
  <th>assay_kit_lot</th>
  <th>plate_identifier</th>
  <th>well</th>
  <th>test_mode</th>
  <th>specimen_purpose</th>
  <th>result_OD</th>
  <th>result_calibrator_OD</th>
  <th>result_ODn</th>
  <th>State</th>
  <th>Message</th>
</thead>
{% endblock %}

{% block table_body %}
{% paginate rows %}
{% show_pages %}
<tbody>
  {% for row in rows %}
  <tr>
    <td>{{row.specimen_label}}</td>
    <td>{{row.assay}}</td>
    <td>{{row.laboratory}}</td>
    <td>{{row.test_date}}</td>
    <td>{{row.operator}}</td>
    <td>{{row.assay_kit_lot}}</td>
    <td>{{row.plate_identifier}}</td>
    <td>{{row.well}}</td>
    <td>{{row.test_mode}}</td>
    <td>{{row.specimen_purpose}}</td>
    <td>{{row.result_OD}}</td>
    <td>{{row.result_calibrator_OD}}</td>
    <td>{{row.result_ODn}}</td>
    <td>{{row.message}}</td>
    <td>{{row.state}}</td>
    <td><pre>{{row.error_message}}</pre></td>
    <td data-row-id="{{row.id}}" data-file-id="{{row.fileinfo.id}}" data-file-type="{{row.fileinfo.file_type}}">
      {% if row.state == 'error' %}
      <button class="btn btn-success btn-comment-modal">
        {% bootstrap_icon "comment" %}
      </button>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</tbody>
{% endblock %}
