{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load el_pagination_tags %}

{% block filter_content %}
{% endblock %}

{% block page_content %}

{% paginate panel_memberships %}
<div class="container">
  <div class="row">
    <div class="panel panel-default" style="box-shadow: 10px 10px 5px #888888;">
      <div class="panel-heading">
        <h3 class="panel-title">Panel Memberships</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="container"
               {% show_pages %}
            <div class="table-responsive">
              <table class="table-striped table table-hover" style="overflow:auto;">
                <thead>
                  <th>Visit ID</th>
                  <th>Subject Label</th>
                  <th>Subject Country</th>
                  <th>Source Study</th>
                  <th>EDDI</th>
                  <th>Subtype</th>
                  <th>Replicates</th>
                  <th>Visit Date</th>
                  <th>Days From EDDI</th>
                  <th>ART Naive</th>
                  <th>On ART</th>
                  <th>VL</th>
                </thead>
                <tbody>
                  {% for membership in panel_memberships %}
                  <tr>
                    <td>{{membership.visit.id}}</td>
                    <td>{{membership.visit.subject.subject_label}}</td>
                    <td>{{membership.visit.subject.country}}</td>
                    <td>{{membership.visit.subject.source_study}}</td>
                    <td>{{membership.visit.subject.subject_eddi.eddi}}</td>
                    <td>{{membership.visit.subject.subtype.name}}</td>
                    <td>{{membership.replicates}}</td>
                    <td>{{membership.visit.visit_date}}</td>
                    <td></td>
                    <td>{{membership.visit.treatment_naive}}</td>
                    <td>{{membership.visit.on_treatment}}</td>
                    <td>{{membership.visit.vl}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
