{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load endless %}

{% block filter_content %}
{% endblock %}

{% block page_content %}

{% paginate panels %}
<div class="container">
  <div class="row">
    <div class="panel panel-default" style="box-shadow: 10px 10px 5px #888888;">
      <div class="panel-heading">
        <h3 class="panel-title">Panels</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="container"
               {% show_pages %}
            <div class="table-responsive">
              <table class="table-striped table table-hover" style="overflow:auto;">
                <thead>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Specimen Type</th>
                  <th>Volume</th>
                  <th>Memberships</th>
                  <th>Shipments</th>
                  <th>Results</th>
                </thead>
                <tbody>
                  {% for panel in panels %}
                  <tr>
                    <td>{{panel.name}}</td>
                    <td>{{panel.description}}</td>
                    <td>{{panel.specimen_type.name}}</td>
                    <td>{{panel.volume}}</td>
                    <td data-panel-id="{{panel.id}}">
                      <a href="{% url 'assay:panel_memberships' panel_id=panel.id %}" target="_blank" class="btn btn-default">View</a>
                      <button class="btn btn-default btn-membership-file-modal">Upload</button>
                    </td>
                    <td data-panel-id="{{panel.id}}">
                      <a href="{% url 'assay:panel_shipments' panel_id=panel.id %}" target="_blank" class="btn btn-default">View</a>
                      <button class="btn btn-default btn-shipment-file-modal">Upload</button>
                    </td>
                    <td data-panel-id="{{panel.id}}">
                      <a href="{% url 'assay:panel_results' panel_id=panel.id %}" target="_blank" class="btn btn-default">View</a>
                      <button class="btn btn-default btn-result-file-modal">Upload</button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="result-modal">
</div>
<div class="membership-modal">
</div>
<div class="shipment-modal">
</div>
{% include 'assay/panel_capture.html' with panel_capture_form=panel_capture_form %}
{% endblock %}
