{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load endless %}

{% block filter_content %}
{% endblock %}

{% block page_content %}

{% paginate panel_memberships %}
<div class="container">
  <div class="row">
    <div class="panel panel-default" style="box-shadow: 10px 10px 5px #888888;">
      <div class="panel-heading">
        <h3 class="panel-title">Panel Memberships</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="container"
               {% show_pages %}
            <div class="table-responsive">
              <table class="table-striped table table-hover" style="overflow:auto;">
                <thead>
                  <th>Visit</th>
                  <th>Panel</th>
                  <th>Replicates</th>
                </thead>
                <tbody>
                  {% for membership in panel_memberships %}
                  <tr>
                    <td>{{membership.visit.id}}</td>
                    <td>{{membership.panel.name}}</td>
                    <td>{{membership.replicates}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
