{% extends "cephia/base.html" %}
{% load bootstrap3 %}
{% load endless %}

{% block filter_content %}
{% endblock %}

{% block page_content %}

{% paginate panels %}
<div class="container">
  <div class="row">
    <div class="panel panel-default" style="box-shadow: 10px 10px 5px #888888;">
      <div class="panel-heading">
        <h3 class="panel-title">Panels</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="container"
               {% show_pages %}
            <div class="table-responsive">
              <table class="table-striped table table-hover" style="overflow:auto;">
                <thead>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Specimen Type</th>
                  <th>Volume</th>
                  <th></th>
                  <th></th>
                </thead>
                <tbody>
                  {% for panel in panels %}
                  <tr>
                    <td>{{panel.name}}</td>
                    <td>{{panel.description}}</td>
                    <td>{{panel.specimen_type.name}}</td>
                    <td>{{panel.volume}}</td>
                    <td>
                      <button class="btn btn-primary btn-panel-file-modal" data-toggle="modal" data-target="#membershipModal">Upload membership file</button>
                    </td>
                    <td>
                      <button class="btn btn-primary btn-panel-file-modal" data-toggle="modal" data-target="#shipmentModal">Upload shipment file</button>
                    </td>
                    <td data-panel-id="{{panel.id}}">
                      <button class="btn btn-primary btn-result-file-modal" data-toggle="modal">Upload results file</button>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="result-modal">
</div>
{% include 'assay/panel_capture.html' with panel_capture_form=panel_capture_form %}
{% include 'assay/shipment_modal.html' with panel_file_form=panel_file_form %}
{% include 'assay/membership_modal.html' with panel_file_form=panel_file_form %}
{% endblock %}
