.navigation {
    width: 100%;
}

.navigation ul {
    float: right;
    list-style : none;
}

.navigation li {
    float: left;
    padding-left: 10px;
}

#wrapper .container {
    width: 100%;
    margin: auto;
}

.home thead th,
.home{
    
    text-align:center;
}

.active { background: #FF9999; }

pre.error-log {
    max-width:20%;
}

.instructions .content {
    background: #ededed;
    width: 50%;
    position: fixed;
    right: 0px;
    height: 80%;
    top: 10%;
    overflow: auto;
    padding: 10px;
    
}

.instructions li {
    margin-bottom: 20px;
    border-bottom: 1px solid #aaaaaa;
}

.instructions textarea {
    padding: 10px;
    width: 100%;
    color: #121212;
    font-family:courier;
    margin-top: 20px;
    margin-bottom: 30px;
    min-height: 100px;
    max-height: 250px;
}